<section class="case-table">
  <div class="responsive-img">
    <div class="container-fluid layout-normalize position-relative">
      <div class="mx-auto" style="max-width: 760px;">
        <h2 class="fs-3 fs-lg-2 fw-bolder">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores,
          quae beatae!
        </h2>
      </div>
      <div>
        <table class="table wp-100 mx-auto" style="max-width: 760px;">
          <thead>
            <tr>
              <td><span>Позиции в</span></td>
              <td>
                &nbsp;<img
                  alt="Яндекс"
                  height="15"
                  src="assets/templates/agelar/images/yandex.png"
                  width="40"
                />&nbsp;&nbsp;
              </td>
              <td>
                <img
                  alt="Google"
                  height="16"
                  src="assets/templates/agelar/images/google.png"
                  width="50"
                />
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>памятники из камня на могилу</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятник из мраморной крошки</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятники на могилу из искусственного камня</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>надгробия из полимергранита</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятник ангел на могилу цена</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>образцы памятников</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>изготовление надгробных памятников</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>вертикальные памятники на могилу</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятник в виде креста</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятники на могилу из мрамора</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятник из малинового кварцита цена</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>заказать памятник на кладбище</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятник мужчине</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>мемориальные комплексы</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятник женщине</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятник на могилу с ангелом</td>
              <td style="text-align: center">1</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>продажа памятников</td>
              <td style="text-align: center">3</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>изготовление памятников</td>
              <td style="text-align: center">6</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятники из гранита</td>
              <td style="text-align: center">7</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>заказать памятник</td>
              <td style="text-align: center">8</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>купить памятник</td>
              <td style="text-align: center">9</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>памятники на могилу</td>
              <td style="text-align: center">10</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
