<!-- Класс на секции должен быть обязательно, по нему инициализируется галерея -->
<section class="case-gallery">
  <div class="container-fluid layout-normalize">
    <div class="row g-0">
      <div class="col-md-4 col-sm-6">
        <div class="box-aspect box-aspect--square responsive-img js_gal" data-src="img/sssw.jpg">
          <img class="responsive-img__image" src="img/sssw.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="box-aspect box-aspect--square responsive-img js_gal" data-src="img/sssw.jpg">
          <img class="responsive-img__image" src="img/sssw.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="box-aspect box-aspect--square responsive-img js_gal" data-src="img/sssw.jpg">
          <img class="responsive-img__image" src="img/sssw.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="box-aspect box-aspect--square responsive-img js_gal" data-src="img/sssw.jpg">
          <img class="responsive-img__image" src="img/sssw.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="box-aspect box-aspect--square responsive-img js_gal" data-src="img/sssw.jpg">
          <img class="responsive-img__image" src="img/sssw.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="box-aspect box-aspect--square responsive-img js_gal" data-src="img/sssw.jpg">
          <img class="responsive-img__image" src="img/sssw.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
