<section>
  <div class="overflow-hidden">
    <div class="px-20">
      <div class="slider-case swiper-slider h-100" style="overflow: initial">
        <div class="slider-case__wrapper swiper-wrapper">
          <div class="slider-case__slide swiper-slide h-100">
            <div class="">
              <img class="" src="img/sssw.jpg" alt="" />
            </div>
          </div>
          <div class="slider-case__slide swiper-slide h-100">
            <div class="">
              <img class="" src="img/sssw.jpg" alt="" />
            </div>
          </div>
          <div class="slider-case__slide swiper-slide h-100">
            <div class="">
              <img class="" src="img/sssw.jpg" alt="" />
            </div>
          </div>
          <div class="slider-case__slide swiper-slide h-100">
            <div class="">
              <img class="" src="img/sssw.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
