<section>
  <div class="responsive-img">
    <img class="responsive-img__image" src="img/case-bg.png" alt="" />
    <div class="position-relative py-50 lap-bg-image">
      <div class="container-fluid layout-normalize position-relative">
        <div class="row gy-4 text-white">
          <div class="col-lg-6">
            <div class="d-flex h-100 flex-column justify-content-center">
              <h2 class="fs-2 fs-lg-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                cumque.
              </h2>
              <p class="fs-md-5 fs-6">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Inventore aliquid recusandae blanditiis atque ea, placeat
                corporis eius incidunt autem quas laudantium praesentium nemo
                tempore debitis, repellendus iste, quo nam. Laboriosam.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="wp-100 h-100 d-flex justify-content-center align-items-center">
              <img class="wp-100" src="img/case-img-first.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
