<section>
  <div class="container py-50">
    <div
      class="d-flex gap-15 gap-md-30 align-items-start mb-30 px-0 ps-xl-100 "
      style="max-width: 900px"
    >
      <span class="fs-md-big-font fs-1 fw-bolder text-muted">01</span>
      <div class="">
        <span class="fs-md-big-font fs-1 fw-bolder text-primary">
          FIRECORE</span
        >
        <p class="fs-md-5 fs-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem id consequuntur dolore expedita nihil. Provident
          perferendis saepe maiores nihil magnam voluptates blanditiis omnis
          totam mollitia nostrum. Necessitatibus possimus ut ratione pariatur
          nemo voluptatum!
        </p>
      </div>
    </div>
    <div
      class="d-flex gap-15 gap-md-30 align-items-start mb-30 px-0 ps-xl-100 "
      style="max-width: 900px"
    >
      <span class="fs-md-big-font fs-1 fw-bolder text-muted">01</span>
      <div class="">
        <span class="fs-md-big-font fs-1 fw-bolder text-primary">
          FIRECORE</span
        >
        <p class="fs-md-5 fs-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem id consequuntur dolore expedita nihil. Provident
          perferendis saepe maiores nihil magnam voluptates blanditiis omnis
          totam mollitia nostrum. Necessitatibus possimus ut ratione pariatur
          nemo voluptatum!
        </p>
      </div>
    </div>
    <div
      class="d-flex gap-15 gap-md-30 align-items-start mb-30 px-0 ps-xl-100 "
      style="max-width: 900px"
    >
      <span class="fs-md-big-font fs-1 fw-bolder text-muted">01</span>
      <div class="">
        <span class="fs-md-big-font fs-1 fw-bolder text-primary">
          FIRECORE</span
        >
        <p class="fs-md-5 fs-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem id consequuntur dolore expedita nihil. Provident
          perferendis saepe maiores nihil magnam voluptates blanditiis omnis
          totam mollitia nostrum. Necessitatibus possimus ut ratione pariatur
          nemo voluptatum!
        </p>
      </div>
    </div>
  </div>
  </section>
