<section>
  <div class="container layout-normalize py-50">
    <div class="row">
      <div class="col-md-6">
        <div>
          <div class="d-flex fs-5 fs-md-4 fw-bold text-white mb-10">
            <div class="p-10 w-30" style="background-color: #f3c37b;"><p class="mb-0">1</p></div>
            <div class="p-10 bg-primary flex-grow-1">
              <p class="mb-0 fw-bold">
                SEO и Тех. аудиты сайта
              </p>
            </div>
          </div>
          <div class="fs-md-5 fs-6">
            <p>Были выявлены ошибки:</p>
            <ul>
              <li>Битые страницы с кодом 404</li>
              <li>Отсутствовали мета-описания</li>
              <li>Отсутствовали robots.txt и карта сайта xml</li>
              <li>Отсутствовали редиректы www и http</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
  <div
      class="d-flex gap-15 gap-md-30 align-items-start mb-30 px-0 ps-xl-100 "
      style="max-width: 900px"
    >
      <span class="fs-md-big-font fs-1 fw-bolder text-muted">01</span>
      <div class="">
        <span class="fs-md-big-font fs-1 fw-bolder text-primary">
          FIRECORE</span
        >
        <p class="fs-md-5 fs-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem id consequuntur dolore expedita nihil. Provident
          perferendis saepe maiores nihil magnam voluptates blanditiis omnis
          totam mollitia nostrum. Necessitatibus possimus ut ratione pariatur
          nemo voluptatum!
        </p>
      </div>
    </div> -->
