<section class="top-case-bunner">
  <div class="responsive-img h-100">
    <img class="responsive-img__image" src="img/top-case-bunner.png" alt="" />
    <div class="h-100 lap-bg-image">
      <div
        class="position-relative container-fluid h-100 text-center py-50 h-100"
      >
        <div
          class="d-flex justify-content-center flex-column align-items-center h-100 mb-20"
        >
          <!-- <img class="top-case-bunner__logo mb-20" src="img/etad.svg" alt="" /> -->
          <a href="#" class="fs-3 text-white fw-semi-bold d-block mb-15">Etadoor</a>
          <p class="fs-md-4 fs-5 text-white" style="max-width: 600px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ex neque
            exercitationem!
          </p>
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div>
</section>
