<section>
  <!-- Если в админке заполнена фоновая картинка, внизу нужно переключать класс для
  затемнения: "lap-bg-image" Если текст начинает сливаться с темный фоном, нужно
  поставить класс "text-white" на текстовые элементы -->
  <div class="responsive-img">
    <img class="responsive-img__image" src="img/case-bg.png" alt="" />
    <div class="position-relative py-50 lap-bg-image">
      <div class="container-fluid layout-normalize position-relative">
        <div>
          <h2 class="fs-3 fs-lg-2 fw-bolder">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores,
            quae beatae!
          </h2>
        </div>
        <div class="row gy-4 text-white">
          <div class="col-lg-6">
            <div class="d-flex h-100 flex-column justify-content-center">
              <div>
                <h3 class="fs-4 fs-lg-3">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                  cumque.
                </h3>
              </div>
              <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Inventore aliquid recusandae blanditiis atque ea, placeat
                corporis eius incidunt autem quas laudantium praesentium nemo
                tempore debitis, repellendus iste, quo nam. Laboriosam.
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex h-100 flex-column justify-content-center">
              <div>
                <h3 class="fs-4 fs-lg-3">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                  cumque.
                </h3>
              </div>
              <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Inventore aliquid recusandae blanditiis atque ea, placeat
                corporis eius incidunt autem quas laudantium praesentium nemo
                tempore debitis, repellendus iste, quo nam. Laboriosam.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
