.layout-main {
}

.layout-normalize {
  padding: 0 30px !important;
}

@media (max-width: 992px) {
  .layout-normalize {
    padding: 0 20px !important;
  }
}
.page-wrapper {
  display: flex;
  height: 100vh;
}

.slider-top {
  /* & .swiper-slide {
    width: 350px;
  } */
}
.swiper-slider-top {
  display: flex;
  gap: 5px;
}
.swiper-slider-top .swiper-pagination-bullet {
border-radius: 50%;
width: 14px;
height: 14px;
background-color: $muted;
display: block;
}
.swiper-slider-top .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $primary;
}


.upbtn {
  position: fixed;
  width: 50px;
  bottom: 110px;
  right: 33px;
  z-index: 300;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.upbtn--active {
  opacity: 1;
}
.sidebar {
  min-width: 300px;
  height: 100vh;
  z-index: 310;
  background-color: white;
  border-right: 1px solid $primary;
}

.over-new {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  &.active {
    z-index: 300;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
}
@media (max-width: 1440px) {
  .sidebar {
    position: fixed;
    left: -100%;
    transition: 0.3s ease;
  }
  .sidebar.show {
    left: 0;
    transition: 0.3s ease;
  }
}

main {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.burger-button {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}
.toponims {
  display: none;
}
.button-toponims:hover .toponims {
  display: block;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -5px) rotate(45deg);
}

.header {
  background-color: #2f3b42;
  height: 60px;
}

@media (max-width: 1440px) {
  .header {
    background-color: white;
  }
}
.btn-custom {
  text-transform: uppercase;
  display: flex !important;
  align-items: center;
  gap: 20px;
  padding: 24px 15px !important;
  justify-content: center;
  font-size: 20px !important;
}

.btn-custom-full {
  max-width: 450px;
}

@media (max-width: 992px) {
  .btn-custom {
    gap: 10px;
    padding: 15px 0 !important;
    font-size: 16px !important;
  }
}

.box-title {
  &__title {
    font-weight: 800;
    font-size: 34px;
  }
  &--controls {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
}

.box-controls {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}
.slider-control-btn {
  border: 1px solid black;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  &:hover {
    transition: 0.3s ease;
    border: 1px solid $primary;
    background-color: $primary;
    color: white;
  }
  &.swiper-button-disabled {
    border: 1px solid $muted;
    color: $muted;
  }
}
.slider-control-btn--prev {
}
.slider-control-btn--next {
}

@media (max-width: 992px) {
  .box-title {
    &__title {
      font-size: 24px;
    }
  }
  .slider-control-btn {
    width: 35px;
    height: 35px;
  }
}

.slider-stuff {
  &__image {
    height: 300px;
  }
}

.reviews-text-slider,
.reviews-video-slider {
  & .swiper-slide {
    width: 465px;
  }
}

@media (max-width: 1200px) {
  .reviews-text-slider,
  .reviews-video-slider {
    & .swiper-slide {
      width: 315px;
    }
  }
}

.reviews-text-block {
  &__star {
    color: #2f3b42;
  }
  &__star--active {
    color: #ff9500;
  }
  &__text-container {
    height: 180px;
    overflow-y: auto;
  }
}
/* .tarrifs-slider {
  & .swiper-slide:nth-child(1) {
    margin-left: 0px !important;
  }
} */
.certificates-slider {
  & .swiper-slide {
    width: 195px;
  }
  &__image {
    width: 100%;
  }
}

.nav-sidebar {
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li ul li &__link-container.active {
    background-color: #2f3b42;
  }
  & li ul li &__link-container.active:hover {
    background-color: #4a5c66;
  }
  & li ul li svg {
    display: none;
  }
  & li ul li a {
    padding-left: 55px;
  }
  & li ul li &__link-container &__link-arrow {
    display: none;
  }

  &__link-container {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link-container + ul {
    display: none;
  }
  &__link-container.open + ul {
    display: block;
  }
  &__link-container.active {
    background-color: $primary;
  }
  &__link-container.active &__link-arrow {
    transform: rotate(90deg);
  }
  &__text-icon {
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__link-arrow {
    color: black;
  }
  &__link-container.active &__text-icon,
  &__link-container.active &__link-arrow {
    color: white;
  }
}

.partners-slider {
  & .swiper-slide {
    width: 265px;
  }

  &__slide-cont {
    width: 100%;
    height: 120px;
    position: relative;
  }

  &__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    cursor: pointer;
  }
  &__img-dark {
  }

  &__img--color {
    opacity: 0;
    transition: 0.3s ease;
  }
  /* &__slide-cont--active &__img--color {
    opacity: 1;
  } */

  &__slide-cont--hover:hover &__img--color {
    opacity: 1;
    transition: 0.3s ease;
  }
}

@media (max-width: 992px) {
  .partners-slider {
    & .swiper-slide {
      width: 175px;
    }

    &__slide-cont {
      width: 100%;
      height: 100px;
      position: relative;
    }
  }
}
.promotion-stages-step {
  position: relative;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content {
    position: relative;
    margin-left: 50px;
  }
  & p {
    color: #2f3b42;
  }
}

.box-case {
  width: 100%;
  z-index: 100;
  &__bg-image {
  }
  &__content-box {
    position: absolute;
    z-index: 300;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: rgba(0, 0, 0, 0.65);
    transition: 0.3s ease;
  }
  &:hover &__content-box {
    background: rgba(106, 21, 7, 0.65);
  }
  &__content {
    transition: 0.3s ease;
    margin-top: 0;
    & > div {
      height: 0px;
      transition: transform 0.3s ease;
      transform: translateY(40px);
      opacity: 0;
    }
  }
  &:hover &__content {
    transition: 0.3s ease;
    margin-top: 160px;
    & > div {
      transition: transform 0.3s ease;
      transform: translateY(-150px);
      opacity: 1;
    }
  }
  &:hover &__inner-logo {
    transition: 0.3s ease;
    transform: scale(0.9);
    height: 105px;
  }
  &__logo {
  }
  &:hover &__btn-float {
    opacity: 1;
    transition: 0.3s ease;
  }
  &__btn-float {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transition: 0.3s ease;
    background: rgba($color: #ffffff, $alpha: 0.05);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    z-index: 300;
    width: 27px;
    height: 27px;
  }
  &__btn-float::before,
  &__btn-float::after {
    content: "";
    display: block;
    height: 27px;
    width: 27px;
    position: absolute;
    background: #ffffff;
    opacity: 1;
    border-radius: 50%;
    /*     animation: pulse 1s linear 1s infinite; */
  }
  &__btn-float::before {
    animation: pulse 1s linear 1s infinite;
  }
  &__btn-float::after {
    animation: pulse 1s linear 0.5s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
  }
  100% {
    transform: scale(2.3);
    opacity: 0;
  }
}

.tarrifs-titles__content .tarrifs-table:nth-child(even) div:nth-child(odd),
.tarrifs-content__slide .tarrifs-table:nth-child(odd) div:nth-child(odd) {
  background-color: #f5f5f5;
  mix-blend-mode: multiply;
}
.tarrifs-titles__content .tarrifs-table:nth-child(odd) div:nth-child(even),
.tarrifs-content__slide .tarrifs-table:nth-child(even) div:nth-child(even) {
  background-color: #f5f5f5;
  mix-blend-mode: multiply;
}

.tarrifs-table {
  /* & div:nth-child(odd) {
    background-color: #f5f5f5;
    mix-blend-mode: multiply;
  } */
  &--hidden {
    display: none;
  }
  & div {
    padding: 0 5px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-min div {
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__dot {
    border-radius: 50%;
    width: 10px;
    min-height: 10px !important;
    margin: 0 auto;
    background-color: $primary !important;
  }
}

.tarrifs-titles {
  min-width: 320px;
}
.tarrifs-slider {
  & .swiper-slide {
    width: 365px;
  }
}

.tarrifs-content {
  &__slide-icon {
    min-width: 72px;
    height: 72px;
  }
}
.box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-rows: auto;
  & .box-case {
    transition: transform 0.4s linear;
    &:hover {
      z-index: 200;
    }
  }
}

@media (max-width: 1200px) {
  .box-grid {
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  }
}

@media (max-width: 768px) {
  .box-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.circle-number {
  border-radius: 50%;
  background-color: white;
  width: 100px;
  height: 100px;
  position: relative;
  &__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
  }
}

@media (max-width: 768px) {
  .circle-number {
    &__container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
    }
  }
}

.strategy-pillar {
  &__line-btn {
    cursor: pointer;
  }
  &__line-btn.btn-expand--active &__arrow {
    background-color: $primary;
    color: white;
    transition: 0.3s ease;
    & svg {
      transition: 0.3s ease;
      transform: rotate(0deg);
    }
  }

  &__arrow {
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    transition: 0.3s ease;
    color: $primary;
  }
  &__arrow {
    & svg {
      transition: 0.3s ease;
      transform: rotate(-180deg);
    }
  }
}

.min-budge {
  padding: 5px 10px 5px 5px;
  background: #f5f5f5;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: 0.3s ease;
  width: fit-content;
  width: 100%;
}
.min-budge:hover {
  border: 1px solid $primary;
  transition: 0.3s ease;
}
@media (max-width: 992px) {
  .min-budge {
    padding: 5px;
    background: #f5f5f5;
    border-radius: 8px;
  }
}

.simple-budge {
  border: 1px solid #efefef;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  align-items: center;

  &__inner-icon {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
  }
  &--min &__inner-icon {
    background-color: #2f3b42;
    transition: 0.3s ease;
    border-radius: 2px;
    min-width: 28px;
    height: 28px;
    width: 28px;
  }
  &--middle &__inner-icon {
    background-color: #efefef;
    transition: 0.3s ease;
    border-radius: 2px;
    min-width: 55px;
    height: 55px;
    width: 55px;
  }
  &--big &__inner-icon {
    background-color: #efefef;
    transition: 0.3s ease;
    min-width: 75px;
    height: 75px;
    width: 75px;
  }
  &--big:hover &__inner-icon svg,
  &--middle:hover &__inner-icon svg,
  &--min &__inner-icon svg {
    color: white;
  }
  &--min {
    padding: 15px;
  }

  &--middle {
    padding: 5px;
    cursor: pointer;
  }

  &--big {
    padding: 15px 20px 15px 15px;
  }
  &--big:hover,
  &--min:hover,
  &--middle:hover {
    border: 1px solid $primary;
  }
  &--min:hover &__inner-icon,
  &--middle:hover &__inner-icon,
  &--big:hover &__inner-icon {
    background-color: $primary;
    transition: 0.3s ease;
  }

  &__text-cont {
  }
}

.quiz-input-radio {
  &--hidden {
    display: none;
    &:checked + .simple-budge--middle {
      border: 1px solid $primary;
      & .simple-budge__inner-icon {
        background-color: $primary;
      }
      & svg {
        color: white;
      }
    }
  }
}
.quiz-cont-input {
  flex: 1;
  min-width: 280px;
}

.quiz-input-checkbox {
  &:checked + div {
    background-color: $primary;
  }
}

.quiz-slider {
  & .swiper-slide {
    padding-left: 0 !important;
  }
}

.articles {
  &__container-title {
  }

  &__title {
  }
}
.articles-slider {
  &__slider {
  }
  &__box-image {
    height: 255px;
  }
}
@media (max-width: 992px) {
  .articles-slider {
    &__slider {
    }
    &__box-image {
      height: 180px;
    }
  }
}

.simple-budge-slider .swiper-slide {
  width: 345px;
}
.slider-stuff .swiper-slide {
  width: 315px;
}

.qa-block {
  background-color: white;
  padding: 20px 25px 0 25px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  &__quest {
    padding-bottom: 20px;
    & svg {
      color: #7e8082;
      transition: 0.3s ease;
    }
  }
  &__quest--active {
    & svg {
      transform: rotate(90deg);
      color: $primary;
      transition: 0.3s ease;
    }
  }
  &__answer {
    padding-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .qa-block {
    &__quest {
    }
    &__answer {
      font-size: 14px;
    }
  }
}

.swiper-slider {
  overflow: hidden;
  & .swiper-wrapper {
  }
}
.swiper-slider {
  &__container {
  }

  &__wrapper {
  }
}

.swiper-slider-nav {
}
.swiper-slider-prew-btn {
}
.swiper-slider-pag {
}
.swiper-slider-next-btn {
}

.footer {
  background: #191f22;
  color: white;
  & a {
    color: white;
  }
}

.reuse-tabs {
  &__button {
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    transition: 0.3s ease;
  }

  &__button.active,
  &__button:hover {
    transition: 0.3s ease;
    border: 1px solid $primary;
    background-color: $primary;
    color: white;
  }
}

@media (max-width: 992px) {
  .reuse-tabs {
    &__button {
      height: 35px;
      padding: 0 20px;
      font-size: 14px;
    }
  }
}

.quiz {
  &__cont-pag {
    display: flex;
    padding: 25px 10px;
    justify-content: center;
    align-items: center;
  }
  &__pag {
  }
}

@media (max-width: 768px) {
  .quiz {
    overflow: hidden;
    &__cont-pag {
      display: flex;
      padding: 25px 10px;
      justify-content: start;
      align-items: center;
    }
  }
}

.quiz-pag {
  display: flex;
  align-items: center;

  &:first-child::before {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    background-color: #f5f5f5;
  }

  &__line {
    display: block;
    width: 20px;
    height: 5px;
    background-color: #f5f5f5;
  }
  &__box {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #f5f5f5;
  }
  &__box.swiper-pagination-bullet-active {
    border: 15px solid $primary;
  }
}

.reuse-block {
  color: white;
  overflow: hidden;
  position: relative;
  &__content {
    position: relative;
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: 0.3s ease;
  }
  &__bg-image {
    width: 100%;
    position: absolute;
    object-fit: contain;
  }
  &__button-more {
    height: 0;
    opacity: 0;
    transition: 0.3s ease;
    margin-top: 0px;
  }
  &:hover {
    color: white;
  }
  &__text {
    margin-bottom: 0px;
    transition: 0.3s ease;
    padding: 60px 20px 20px 20px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.73153011) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  &:hover &__text {
    transition: 0.3s ease;
  }
  &:hover &__button-more {
    margin-top: 30px;
    opacity: 1;
    transform: translateY(-20px);
  }
}

.budges-slider-min {
  & .swiper-slide {
    width: 245px;
  }
}

.box-tech {
  display: flex;
  flex-direction: column;
  &:hover {
    border: 1px solid $primary;
  }
  &__icon-box {
    height: 150px;
    display: flex;
    align-items: flex-start;
  }
  &__icon {
    height: 100%;
    margin: 0 auto;
  }
}

.slider-tech {
  & .swiper-slide {
    width: 250px;
  }
}

.breadcrumbs {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.7px;
}

.breadcrumbs ul {
  margin-bottom: 0;
  padding: 0;
}

.breadcrumbs a {
  color: #000;
}

.breadcrumbs ul li:first-child {
  padding: 0 10px 0 0px;
}

.breadcrumbs ul li a {
  text-decoration: none;
}

.breadcrumbs ul li {
  display: inline;
  padding: 0 0 0 10px;
}
