<section class="articles">
    <div class="layout-main">
      <div class="box-title layout-normalize">
        <h2 class="articles__title box-title__title">
          СТАТЬИ ПО СЕО ПРОДВИЖЕНИЮ
        </h2>
      </div>
      <div class="articles-slider__slider articles-slider swiper-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide rounded-10 bg-white">
            <div class="p-15 pb-15 pb-md-30 border h-100">
              <div class="responsive-img articles-slider__box-image">
                <img
                  class="responsive-img__image"
                  src="images/webpack.png"
                  alt=""
                />
              </div>
              <p class="fs-6 fs-lg-special-size mt-15 mb-0">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
          </div>
          <div class="swiper-slide rounded-10 bg-white">
            <div class="p-15 pb-15 pb-md-30 border h-100">
              <div class="responsive-img articles-slider__box-image">
                <img
                  class="responsive-img__image"
                  src="images/webpack.png"
                  alt=""
                />
              </div>
              <p class="fs-6 fs-lg-special-size mt-15 mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="swiper-slide rounded-10 bg-white">
            <div class="p-15 pb-15 pb-md-30 border h-100">
              <div class="responsive-img articles-slider__box-image">
                <img
                  class="responsive-img__image"
                  src="images/webpack.png"
                  alt=""
                />
              </div>
              <p class="fs-6 fs-lg-special-size mt-15 mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="swiper-slide  rounded-10 bg-white">
            <div class="p-15 pb-15 pb-md-30 border h-100">
              <div class="responsive-img articles-slider__box-image">
                <img
                  class="responsive-img__image"
                  src="images/webpack.png"
                  alt=""
                />
              </div>
              <p class="fs-6 fs-lg-special-size mt-15 mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="swiper-slider-nav slider-custom-pag">
        <div class="swiper-button-prev slider-custom-pag__prev"><svg class="icon" aria-hidden="true">
          <use xlink:href="#arrow-prev"></use>
        </svg></div>
        <div class="swiper-slider-pag slider-custom-pag__pag"></div>
        <div class="swiper-button-next slider-custom-pag__next"><svg class="icon" aria-hidden="true">
          <use xlink:href="#arrow-next"></use>
        </svg></div>
      </div> -->
    </div>
  </section>