<section>
  <div class="box-title layout-normalize">
    <h2 class="box-title__title">Услуги</h2>
  </div>

  <div>
    <div class="budges-slider-min swiper-slider h-100">
      <div class="budges-slider-min__wrapper swiper-wrapper">
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane-1',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane-2',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>

        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
        <div class="budges-slider-min__slide swiper-slide h-100">
          <div class="min-budge d-flex gap-10 align-items-center">
            <div class="min-budge__inner-icon">
              @@include('../page-blocks/_sprite.html', {'id': 'PaperPlane',
              'width': '28px', 'height': '28px'})
            </div>
            <div class="fs-9 fs-lg-8">
              <p class="fw-light mb-0">Продвижение сайтов в Яндексе</p>
              <span class="fw-bold" style="color: #11263a">от 16.500 ₽</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
