<section>
  <div class="py-30 py-lg-50">
    <div class="box-title layout-normalize">
      <h2 class="box-title__title">Направления бизнеса</h2>
    </div>
    <div class="simple-budge-slider swiper-slider h-100">
      <div class="simple-budge-slider__wrapper swiper-wrapper">
        <div class="simple-budge-slider__slide swiper-slide h-100">
            <div class="simple-budge simple-budge--big">
                <div class="simple-budge__inner-icon">
                    @@include('../page-blocks/_sprite.html', {'id': 'bisness-build',
              'width': '45px', 'height': '45px'})
                </div>
                <div class="simple-budge__text-cont">
                    <p class="fs-lg-5 fs-6 mb-5">Строительные сайты</p>
                    <span class="text-second-text">от 15 000 ₽</span>
                </div>
            </div>
        </div>
        <div class="simple-budge-slider__slide swiper-slide h-100">
            <div class="simple-budge simple-budge--big">
                <div class="simple-budge__inner-icon">
                    @@include('../page-blocks/_sprite.html', {'id': 'bisness-build',
              'width': '45px', 'height': '45px'})
                </div>
                <div class="simple-budge__text-cont">
                    <p class="fs-lg-5 fs-6 mb-5">Строительные сайты</p>
                    <span class="text-second-text">от 15 000 ₽</span>
                </div>
            </div>
        </div>
        <div class="simple-budge-slider__slide swiper-slide h-100">
            <div class="simple-budge simple-budge--big">
                <div class="simple-budge__inner-icon">
                    @@include('../page-blocks/_sprite.html', {'id': 'bisness-build',
              'width': '45px', 'height': '45px'})
                </div>
                <div class="simple-budge__text-cont">
                    <p class="fs-lg-5 fs-6 mb-5">Строительные сайты</p>
                    <span class="text-second-text">от 15 000 ₽</span>
                </div>
            </div>
        </div>
        <div class="simple-budge-slider__slide swiper-slide h-100">
            <div class="simple-budge simple-budge--big">
                <div class="simple-budge__inner-icon">
                    @@include('../page-blocks/_sprite.html', {'id': 'bisness-build',
              'width': '45px', 'height': '45px'})
                </div>
                <div class="simple-budge__text-cont">
                    <p class="fs-lg-5 fs-6 mb-5">Строительные сайты</p>
                    <span class="text-second-text">от 15 000 ₽</span>
                </div>
            </div>
        </div>
        <div class="simple-budge-slider__slide swiper-slide h-100">
            <div class="simple-budge simple-budge--big">
                <div class="simple-budge__inner-icon">
                    @@include('../page-blocks/_sprite.html', {'id': 'bisness-build',
              'width': '45px', 'height': '45px'})
                </div>
                <div class="simple-budge__text-cont">
                    <p class="fs-lg-5 fs-6 mb-5">Строительные сайты</p>
                    <span class="text-second-text">от 15 000 ₽</span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


</section>
