<section>
  <div class="container-fluid layout-normalize">
    <div class="box-title">
      <h2 class="box-title__title">Кейсы</h2>
    </div>
    <div class="box-grid">

        <div class="box-case box-aspect box-aspect--square responsive-img">
          <img
            class="box-case__bg-image responsive-img__image"
            src="img/626ba13bec7da306887522.png"
            alt=""
          />

          <div class="box-case__content-box">
            <div class="box-case__inner-logo">
              <img class="box-case__logo" src="img/partners/etadoor.svg" alt="" />
            </div>
            <div class="box-case__content">
              <div class="d-flex flex-column justify-content-between">
                <div><div
                  class="d-flex justify-content-center align-items-center mb-15"
                >
                  <span>Сайт: </span>
                  <a class="fs-5 text-white" href="https://etadoor.ru/"
                    >https://etadoor.ru/</a
                  >
                </div>
                <div class="text-center">
                  <p class="fs-7 mb-0">Название проекта:</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Obcaecati est repellendus blanditiis! Explicabo.
                  </p>
                </div></div>
                <p class="text-center">2022 год</p>
              </div>
            </div>
          </div>

          <div class="box-case__btn-float">
            @@include('../page-blocks/_sprite.html', {'id': 'PaperPlaneCase',
            'width': '13px', 'height': '13px'})
          </div>
        </div>
        <div class="box-case box-aspect box-aspect--square responsive-img">
          <img
            class="box-case__bg-image responsive-img__image"
            src="img/626ba13bec7da306887522.png"
            alt=""
          />

          <div class="box-case__content-box">
            <div class="box-case__inner-logo">
              <img class="box-case__logo" src="img/partners/etadoor.svg" alt="" />
            </div>
            <div class="box-case__content">
              <div class="d-flex flex-column justify-content-between">
                <div><div
                  class="d-flex justify-content-center align-items-center mb-15"
                >
                  <span>Сайт: </span>
                  <a class="fs-5 text-white" href="https://etadoor.ru/"
                    >https://etadoor.ru/</a
                  >
                </div>
                <div class="text-center">
                  <p class="fs-7 mb-0">Название проекта:</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Obcaecati est repellendus blanditiis! Explicabo.
                  </p>
                </div></div>
                <p class="text-center">2022 год</p>
              </div>
            </div>
          </div>

          <div class="box-case__btn-float">
            @@include('../page-blocks/_sprite.html', {'id': 'plane-case',
            'width': '13px', 'height': '13px'})
          </div>
        </div>
        <div class="box-case box-aspect box-aspect--square responsive-img">
          <img
            class="box-case__bg-image responsive-img__image"
            src="img/626ba13bec7da306887522.png"
            alt=""
          />

          <div class="box-case__content-box">
            <div class="box-case__inner-logo">
              <img class="box-case__logo" src="img/partners/etadoor.svg" alt="" />
            </div>
            <div class="box-case__content">
              <div class="d-flex flex-column justify-content-between">
                <div><div
                  class="d-flex justify-content-center align-items-center mb-15"
                >
                  <span>Сайт: </span>
                  <a class="fs-5 text-white" href="https://etadoor.ru/"
                    >https://etadoor.ru/</a
                  >
                </div>
                <div class="text-center">
                  <p class="fs-7 mb-0">Название проекта:</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Obcaecati est repellendus blanditiis! Explicabo.
                  </p>
                </div></div>
                <p class="text-center">2022 год</p>
              </div>
            </div>
          </div>

          <div class="box-case__btn-float">
            @@include('../page-blocks/_sprite.html', {'id': 'plane-case',
            'width': '13px', 'height': '13px'})
          </div>
        </div>
        <div class="box-case box-aspect box-aspect--square responsive-img">
          <img
            class="box-case__bg-image responsive-img__image"
            src="img/626ba13bec7da306887522.png"
            alt=""
          />

          <div class="box-case__content-box">
            <div class="box-case__inner-logo">
              <img class="box-case__logo" src="img/partners/etadoor.svg" alt="" />
            </div>
            <div class="box-case__content">
              <div class="d-flex flex-column justify-content-between">
                <div><div
                  class="d-flex justify-content-center align-items-center mb-15"
                >
                  <span>Сайт: </span>
                  <a class="fs-5 text-white" href="https://etadoor.ru/"
                    >https://etadoor.ru/</a
                  >
                </div>
                <div class="text-center">
                  <p class="fs-7 mb-0">Название проекта:</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Obcaecati est repellendus blanditiis! Explicabo.
                  </p>
                </div></div>
                <p class="text-center">2022 год</p>
              </div>
            </div>
          </div>

          <div class="box-case__btn-float">
            @@include('../page-blocks/_sprite.html', {'id': 'plane-case',
            'width': '13px', 'height': '13px'})
          </div>
        </div>
        
    </div><div class="box-grid">

      <div class="box-case box-aspect box-aspect--square responsive-img">
        <img
          class="box-case__bg-image responsive-img__image"
          src="img/626ba13bec7da306887522.png"
          alt=""
        />

        <div class="box-case__content-box">
          <div class="box-case__inner-logo">
            <img class="box-case__logo" src="img/partners/etadoor.svg" alt="" />
          </div>
          <div class="box-case__content">
            <div class="d-flex flex-column justify-content-between">
              <div><div
                class="d-flex justify-content-center align-items-center mb-15"
              >
                <span>Сайт: </span>
                <a class="fs-5 text-white" href="https://etadoor.ru/"
                  >https://etadoor.ru/</a
                >
              </div>
              <div class="text-center">
                <p class="fs-7 mb-0">Название проекта:</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Obcaecati est repellendus blanditiis! Explicabo.
                </p>
              </div></div>
              <p class="text-center">2022 год</p>
            </div>
          </div>
        </div>

        <div class="box-case__btn-float">
          @@include('../page-blocks/_sprite.html', {'id': 'plane-case',
          'width': '13px', 'height': '13px'})
        </div>
      </div>
      <div class="box-case box-aspect box-aspect--square responsive-img">
        <img
          class="box-case__bg-image responsive-img__image"
          src="img/626ba13bec7da306887522.png"
          alt=""
        />

        <div class="box-case__content-box">
          <div class="box-case__inner-logo">
            <img class="box-case__logo" src="img/partners/etadoor.svg" alt="" />
          </div>
          <div class="box-case__content">
            <div class="d-flex flex-column justify-content-between">
              <div><div
                class="d-flex justify-content-center align-items-center mb-15"
              >
                <span>Сайт: </span>
                <a class="fs-5 text-white" href="https://etadoor.ru/"
                  >https://etadoor.ru/</a
                >
              </div>
              <div class="text-center">
                <p class="fs-7 mb-0">Название проекта:</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Obcaecati est repellendus blanditiis! Explicabo.
                </p>
              </div></div>
              <p class="text-center">2022 год</p>
            </div>
          </div>
        </div>

        <div class="box-case__btn-float">
          @@include('../page-blocks/_sprite.html', {'id': 'plane-case',
          'width': '13px', 'height': '13px'})
        </div>
      </div>
      <div class="box-case box-aspect box-aspect--square responsive-img">
        <img
          class="box-case__bg-image responsive-img__image"
          src="img/626ba13bec7da306887522.png"
          alt=""
        />

        <div class="box-case__content-box">
          <div class="box-case__inner-logo">
            <img class="box-case__logo" src="img/partners/etadoor.svg" alt="" />
          </div>
          <div class="box-case__content">
            <div class="d-flex flex-column justify-content-between">
              <div><div
                class="d-flex justify-content-center align-items-center mb-15"
              >
                <span>Сайт: </span>
                <a class="fs-5 text-white" href="https://etadoor.ru/"
                  >https://etadoor.ru/</a
                >
              </div>
              <div class="text-center">
                <p class="fs-7 mb-0">Название проекта:</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Obcaecati est repellendus blanditiis! Explicabo.
                </p>
              </div></div>
              <p class="text-center">2022 год</p>
            </div>
          </div>
        </div>

        <div class="box-case__btn-float">
          @@include('../page-blocks/_sprite.html', {'id': 'plane-case',
          'width': '13px', 'height': '13px'})
        </div>
      </div>
      <div class="box-case box-aspect box-aspect--square responsive-img">
        <img
          class="box-case__bg-image responsive-img__image"
          src="img/626ba13bec7da306887522.png"
          alt=""
        />

        <div class="box-case__content-box">
          <div class="box-case__inner-logo">
            <img class="box-case__logo" src="img/partners/etadoor.svg" alt="" />
          </div>
          <div class="box-case__content">
            <div class="d-flex flex-column justify-content-between">
              <div><div
                class="d-flex justify-content-center align-items-center mb-15"
              >
                <span>Сайт: </span>
                <a class="fs-5 text-white" href="https://etadoor.ru/"
                  >https://etadoor.ru/</a
                >
              </div>
              <div class="text-center">
                <p class="fs-7 mb-0">Название проекта:</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Obcaecati est repellendus blanditiis! Explicabo.
                </p>
              </div></div>
              <p class="text-center">2022 год</p>
            </div>
          </div>
        </div>

        <div class="box-case__btn-float">
          @@include('../page-blocks/_sprite.html', {'id': 'plane-case',
          'width': '13px', 'height': '13px'})
        </div>
      </div>
      
  </div>
  </div>
</section>
