<section>
  <div class="py-50">
    <div class="box-title box-title--controls layout-normalize">
      <h2 class="box-title__title">Дипломы и сертификаты</h2>
      <div class="box-controls mb-15">
        <div
          class="slider-control-btn slider-control-btn--prev slider-certificates-prev"
        >
          @@include('../page-blocks/_sprite.html', {'id': 'arrow-next', 'width':
          '25px', 'height': '18px'})
        </div>
        <div
          class="slider-control-btn slider-control-btn--next slider-certificates-next"
        >
          @@include('../page-blocks/_sprite.html', {'id': 'arrow-prev', 'width':
          '25px', 'height': '18px'})
        </div>
      </div>
    </div>
    <div class="certificates-slider swiper-slider h-100">
      <div class="swiper-wrapper">
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>

        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>

        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide h-100">
          <div>
            <img
              class="certificates-slider__image"
              src="img/certificates.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
