<section>
    <div class="layout-normalize"><div class="border-top border-primary border-bottom p-15">
        <p class="fw-semi-bold fs-7 mb-0">Хотите, чтоб сайт приносил прибыль и выделялся среди остальных? Мы помогаем создавать сайты с этапа концепции и до полной реализации любых, даже самых сложных идей. В стоимость входит 6 месяцев тех поддержки и консультация контент-менеджера по наполнению сайта в течение 3-х месяцев, если вы в дальнейшем планируете сами заниматься наполнением своего сайта. В стоимость не входит покупка лицензии CMS если она является платной, а так же покупка модулей. При просчете сметы все дополнительные затраты рассчитываются отдельно.</p>
    </div></div>
    
</section>