<section>
    <div class="layout-normalize container-fluid">
        <div class="" style="max-width: 800px; margin: 0 auto;">
            <div class="box-title">
                <h2 class="box-title__title">Новый ,блок шагов разработки</h2>
              </div>
            <div class="dev-steps-block">
                <div class="dev-steps-block__inner-image">
                    <img src="" alt="">
                </div>
                <div class="dev-steps-block__content">
                    <p class="fs-5 fw-bold mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequatur?</p>
                    <div class="dev-steps-block__content-desc">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, culpa provident! Aperiam dolorum praesentium mollitia nulla! Impedit ad quis incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ducimus fugiat voluptas pariatur harum autem necessitatibus perspiciatis sint aspernatur quasi repellat sapiente corrupti tempora eveniet, neque at temporibus, cumque soluta.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>