<section class="bg-block py-30">
    <div class="container-fluid"><h3 class="text-center fw-bolder">
            Договора для ознакомления
        </h3>
        <div class="row gy-2">
            <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                <div class="btn btn-secondary d-flex px-30 py-10 align-items-center justify-content-center gap-10 wp-100" style="max-width: 400px;">Скачать Стандартный договор @@include('../page-blocks/_sprite.html', {'id': 'downliad', 'width':
                    '32px', 'height': '32px'})</div>
            </div>
            <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
                <div class="btn btn-primary px-30 py-10 d-flex align-items-center justify-content-center gap-10 wp-100" style="max-width: 400px;">Скачать Договор с гарантией @@include('../page-blocks/_sprite.html', {'id': 'downliad', 'width':
                    '32px', 'height': '32px'})</div>
            </div>
        </div>
    </div>
</section>
