<section class="promotion-stages overflow-hidden responsive-img">
  <img class="responsive-img__image" src="img/bg-block.png" alt="" />
  <div class="py-30 py-lg-50 container-fluid position-relative">
    <div class="row gy-3">
      <div class="col-lg-6">
        <div>
          <div class="text-center">
            <p class="fs-3 fw-bolder">Заказать<br />обратный звонок</p>
            <p>
              в течение 15 мин наш специалист вам перезвонит и ответит на все
              ваши вопросы, расскажет как мы работаем
            </p>
          </div>

          <div>
            <div class="mb-10">
              <input
                class="form-control wp-100 d-block text-center"
                placeholder="Имя"
                type="text"
                style="height: 50px"
              />
            </div>
            <div class="mb-10">
              <input
                class="form-control wp-100 d-block text-center"
                placeholder="Имя"
                type="text"
                style="height: 50px"
              />
            </div>
            <p class="fs-8 text-center">* - поля обязательные для заполнения</p>
          </div>
          <div class="d-flex">
            <div class="btn btn-primary mx-auto">Перезвоните мне</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <div class="text-center">
            <p class="fs-3 fw-bolder">Посмотри и узнай:</p>
            <p class="fs-6 fs-md-5">
              Кто мы, Что мы делаем, Наши тарифы, Наши цели
            </p>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <img class="wp-100" src="img/align.png" alt="" />
              </div>
              <div class="col-sm-6">
                <img class="wp-100" src="img/align.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
