<section class="left-meet">
  <div class="py-lg-40 py-30">
    <div class="box-title">
      <h2 class="box-title__title text-center">Давайте знакомиться</h2>
    </div>
    <div class="row gy-4 mx-auto" style="max-width: 930px">
      <div class="col-md-6">
        <a href="#" class="btn btn-custom btn-custom-full mx-auto btn-primary"
          ><img width="32px" src="../../img/IMAGE.webp" alt="">
          Заказать личную встречу</a
        >
      </div>
      <div class="col-md-6">
        <a href="#" class="btn btn-custom btn-custom-full mx-auto btn-primary"
          ><img width="32px" src="../../img/IMAGE-1.webp" alt="">Заказать консультацию</a
        >
      </div>
      <div class="col-md-6">
        <a href="#" class="btn btn-custom btn-custom-full mx-auto btn-primary"
          ><img width="32px" src="../../img/IMAGE-2.webp" alt="">Перезвонить</a
        >
      </div>
      <div class="col-md-6">
        <a href="#" class="btn btn-custom btn-custom-full mx-auto btn-primary"
          ><img width="32px" src="../../img/IMAGE-3.webp" alt="">Получить КП</a
        >
      </div>
    </div>
  </div>
</section>
