<div class="layout-normalize py-30">
  <div class="d-flex gap-20">
    <div class="d-flex flex-grow-1 spec-cont">
      <div class="line-buttons">
        <a href="#" class="btn btn-block line-buttons__button line-buttons__button--hover">
          СЕО-продвижение
        </a>
        <a href="#" class="btn btn-block line-buttons__button line-buttons__button--hover">
          СЕО-продвижение
        </a>
        <a href="#" class="btn btn-block line-buttons__button line-buttons__button--hover">
          СЕО-продвижение
        </a>
        <a href="#" class="btn btn-block line-buttons__button line-buttons__button--hover">
          СЕО-продвижение
        </a>
        <a href="#" class="btn btn-block line-buttons__button line-buttons__button--hover">
          СЕО-продвижение
        </a>
        <a href="#" class="btn btn-block line-buttons__button line-buttons__button--hover">
          СЕО-продвижение
        </a>
        <a href="#" class="btn btn-block line-buttons__button line-buttons__button--hover">
          СЕО-продвижение
        </a>
        <a href="#" class="btn btn-block line-buttons__button line-buttons__button--hover">
          СЕО-продвижение
        </a>
      </div>
    </div>
    <div
      class="btn btn-toggler border-2 border-block align-self-start d-lg-inline-block d-none"
      style="white-space: nowrap"
    >
      Показать еще
    </div>
  </div>
</div>
