<section>
  <div class="container-fluid layout-normalize">
    <div class="box-title">
      <h2 class="box-title__title">Новый калькулятор</h2>
    </div>
    <form class="row gy-3 gx-3 new-calc">
      <div class="col-md-6">
        <p class="fw-bold fs-5 mb-5">
            Автоматиация
        </p>
        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            data-group="3"
            name="quest_3[]"
            value="1"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>

        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="2"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>

        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="3"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>
        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="232323"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>
        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="232323"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>
        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="232323"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>
        <p class="fw-bold fs-5 mb-5 mt-30">
            Автоматиация
        </p>
        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
      </div>
      <div class="col-md-6">
        <p class="fw-bold fs-5 mb-5">
            Автоматиация
        </p>
        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="123123"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>

        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="232323"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>

        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="232323"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>
        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="232323"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>
        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="232323"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>
        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
          <input
            class="quiz-input-checkbox quiz-input-radio--hidden "
            type="checkbox"
            value="232323"
          />
          <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
          <span class="fs-6 fs-lg-5">Профильные площадки</span>
        </label>
        <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="123123"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
  
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
  
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="123123"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
  
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
  
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <label class="quiz-cont-input d-flex align-items-center gap-10 mb-10">
            <input
              class="quiz-input-checkbox quiz-input-radio--hidden "
              type="checkbox"
              value="232323"
            />
            <div class="rounded-5 border" style="width: 24px; height: 24px"></div>
            <span class="fs-6 fs-lg-5">Профильные площадки</span>
          </label>
          <p class="fw-bold fs-5 mb-5 mt-30">
            Отправьте и мы пришлем результат
        </p>
        <input type="text" value="0" class="new-calc-sum-input d-none">
        <input type="submit" value="Заказать подключение CRM" class="btn-lg btn btn-primary new-calc-submit">
      </div>
      
    </form>
  </div>
</section>
