<section class="">
  <div class="py-50 ">
    <div class="box-title box-title--controls layout-normalize">
        <h2 class="box-title__title">Нам доверили свой бизнес</h2>
        <div class="box-controls mb-15">
          <div
            class="slider-control-btn slider-control-btn--prev slider-partners-prev"
          >
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-next', 'width':
            '25px', 'height': '18px'})
          </div>
          <div
            class="slider-control-btn slider-control-btn--next slider-partners-next"
          >
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-prev', 'width':
            '25px', 'height': '18px'})
          </div>
        </div>
      </div>
    <div class="partners-slider swiper-slider h-100">
      <div class="swiper-wrapper">
        <div class="swiper-slide h-100">
            <div class="partners-slider__slide-cont partners-slider__slide-cont--active partners-slider__slide-cont--hover">
                <img class="partners-slider__img--dark partners-slider__img"  src="img/partners/arm-dark.svg" alt="">
                <img class="partners-slider__img--color partners-slider__img" src="img/partners/arm.svg" alt="">
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="partners-slider__slide-cont partners-slider__slide-cont--active partners-slider__slide-cont--hover">
                <img class="partners-slider__img--dark partners-slider__img"  src="img/partners/mltex-dark.svg" alt="">
                <img class="partners-slider__img--color partners-slider__img" src="img/partners/mltex.svg" alt="">
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="partners-slider__slide-cont partners-slider__slide-cont--active partners-slider__slide-cont--hover">
                <img class="partners-slider__img--dark partners-slider__img"  src="img/partners/osoka-dark.svg" alt="">
                <img class="partners-slider__img--color partners-slider__img" src="img/partners/osoka.svg" alt="">
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="partners-slider__slide-cont partners-slider__slide-cont--active partners-slider__slide-cont--hover">
                <img class="partners-slider__img--dark partners-slider__img"  src="img/partners/oreol-dark.svg" alt="">
                <img class="partners-slider__img--color partners-slider__img" src="img/partners/oreol.svg" alt="">
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="partners-slider__slide-cont partners-slider__slide-cont--active partners-slider__slide-cont--hover">
                <img class="partners-slider__img--dark partners-slider__img"  src="img/partners/don-dark.svg" alt="">
                <img class="partners-slider__img--color partners-slider__img" src="img/partners/don.svg" alt="">
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
