<section class="promotion-stages">
  <div class="py-30 container-fluid layout-normalize">
    <div class="box-title">
      <h2 class="box-title__title">Этапы продвижения</h2>
    </div>
    <div class="row gy-3">
      <div class="col-xxl-2 col-lg-4 col-6">
        <div class="promotion-stages-step">
          <div class="promotion-stages-step__icon">
            @@include('../page-blocks/_sprite.html', {'id':
            'Grouppromotion-stages-1', 'width': '65px', 'height': '42px'})
          </div>

          <div class="promotion-stages-step__content">
            <p class="mb-0 fs-1 fw-bolder" style="line-height: 100%;">01</p>
            <span
              >Анализ<br> конкурентов <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<p class='fw-bold'>Анализ конкурентов</p>
                <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>">@@include('../page-blocks/_sprite.html',
              {'id': 'tooltip', 'width': '13px', 'height': '13px'})</span> </span
            >
          </div>
        </div>
        
      </div>
      <div class="col-xxl-2 col-lg-4 col-6">
        <div class="promotion-stages-step">
          <div class="promotion-stages-step__icon">
            @@include('../page-blocks/_sprite.html', {'id':
            'Grouppromotion-stages-1', 'width': '65px', 'height': '42px'})
          </div>

          <div class="promotion-stages-step__content">
            <p class="mb-0 fs-1 fw-bolder" style="line-height: 100%;">01</p>
            <span
              >Анализ<br> конкурентов <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<p class='fw-bold'>Анализ конкурентов</p>
                <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>">@@include('../page-blocks/_sprite.html',
              {'id': 'tooltip', 'width': '13px', 'height': '13px'})</span> </span
            >
          </div>
        </div>
        
      </div>
      <div class="col-xxl-2 col-lg-4 col-6">
        <div class="promotion-stages-step">
          <div class="promotion-stages-step__icon">
            @@include('../page-blocks/_sprite.html', {'id':
            'Grouppromotion-stages-1', 'width': '65px', 'height': '42px'})
          </div>

          <div class="promotion-stages-step__content">
            <p class="mb-0 fs-1 fw-bolder" style="line-height: 100%;">01</p>
            <span
              >Анализ<br> конкурентов <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<p class='fw-bold'>Анализ конкурентов</p>
                <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>">@@include('../page-blocks/_sprite.html',
              {'id': 'tooltip', 'width': '13px', 'height': '13px'})</span> </span
            >
          </div>
        </div>
        
      </div>
      <div class="col-xxl-2 col-lg-4 col-6">
        <div class="promotion-stages-step">
          <div class="promotion-stages-step__icon">
            @@include('../page-blocks/_sprite.html', {'id':
            'Grouppromotion-stages-1', 'width': '65px', 'height': '42px'})
          </div>

          <div class="promotion-stages-step__content">
            <p class="mb-0 fs-1 fw-bolder" style="line-height: 100%;">01</p>
            <span
              >Удержание позиций<br>
              и поддержка сайта&nbsp<span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<p class='fw-bold'>Анализ конкурентов</p>
                <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>">@@include('../page-blocks/_sprite.html',
              {'id': 'tooltip', 'width': '13px', 'height': '13px'})</span> </span
            >
          </div>
        </div>
        
      </div>
      <div class="col-xxl-2 col-lg-4 col-6">
        <div class="promotion-stages-step">
          <div class="promotion-stages-step__icon">
            @@include('../page-blocks/_sprite.html', {'id':
            'Grouppromotion-stages-1', 'width': '65px', 'height': '42px'})
          </div>

          <div class="promotion-stages-step__content">
            <p class="mb-0 fs-1 fw-bolder" style="line-height: 100%;">01</p>
            <span
              >Анализ<br> конкурентов <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<p class='fw-bold'>Анализ конкурентов</p>
                <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>">@@include('../page-blocks/_sprite.html',
              {'id': 'tooltip', 'width': '13px', 'height': '13px'})</span> </span
            >
          </div>
        </div>
        
      </div>
      <div class="col-xxl-2 col-lg-4 col-6">
        <div class="promotion-stages-step">
          <div class="promotion-stages-step__icon">
            @@include('../page-blocks/_sprite.html', {'id':
            'Grouppromotion-stages-1', 'width': '65px', 'height': '42px'})
          </div>

          <div class="promotion-stages-step__content">
            <p class="mb-0 fs-1 fw-bolder" style="line-height: 100%;">01</p>
            <span
              >Анализ<br> конкурентов <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<p class='fw-bold'>Анализ конкурентов</p>
                <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>">@@include('../page-blocks/_sprite.html',
              {'id': 'tooltip', 'width': '13px', 'height': '13px'})</span> </span
            >
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</section>
