<section>
  <div class="px-20 px-lg-85 py-50 bg-block">
    <div class="box-title">
      <h2 class="box-title__title">Рассчитать стоимость SЕO-продвижения</h2>
    </div>

    <div class="quiz">
      <div class="quiz__cont-pag bg-white rounded-25">
        <div class="quiz__pag quiz-pag">
          <div class="quiz-pag__box">
            <span>1</span>
          </div>
          <div class="quiz-pag__box active">
            <span>2</span>
          </div>
          <div class="quiz-pag__box">
            <span>3</span>
          </div>
          <div class="quiz-pag__box">
            <span>4</span>
          </div>
          <div class="quiz-pag__box">
            <span>5</span>
          </div>
        </div>
      </div>

      <div class="">
        <div class="">
          <div class="">
            <div>
              <div
                class="bg-white rounded-25 px-10 py-25 px-lg-30 container-fluid"
              >
                <div class="row gx-5 gy-3">
                  <div class="col-md-6">
                    <input type="text" class="form-control p-15 mb-10" placeholder="Ваш сайт" />
                    <span class=" fs-7 text-muted">Если сайта еще нет, можно оставить поле пустым</span>
                  </div>
                  <div class="col-md-6">
                    <p class="fs-6 fs-special-size fw-bold">
                      В завершении мы сразу предоставим вам стоимость без
                      навязчивых ожиданий и звонков.
                    </p>
                  </div>
                </div>
              </div>
              <div class="bg-white rounded-25 px-10 py-25 px-lg-30">
                <div>
                  <p class="fw-bolder fs-6 fs-special-size">Тематика бизнеса</p>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="quiz-slider swiper-slider h-100">
        <div class="swiper-wrapper">
          <div class="swiper-slide h-100">
            <div>
              <div class="bg-white rounded-25 px-10 py-25 px-lg-30 container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="input-group">
                  </div>
                  <div class="col-md-6"></div>
                </div>
              </div>
              <div class="bg-white rounded-25 px-10 py-25 px-lg-30"></div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
