<section>
  <div class="container-fluid layout-normalize">
    <div class="box-title">
      <h2 class="box-title__title">Переиспользуемые блоки</h2>
    </div>

    <div class="row g-4">
      <div class="col-xl-4 col-sm-6">
        <a href="#" class="reuse-block">
          <img
            class="reuse-block__bg-image"
            src="../../img/site/626ba13bec7da306887522.webp"
            alt=""
          />
          <div class="reuse-block__content">
            <div>
              <div class="reuse-block__text">
                <p class="fs-lg-special-size fs-6 fw-bl-bold">
                  Интернет-магазин производителя влагостойких дверей - EtaDoor
                </p>
                <div
                  class="text-decoration-underline py-5 px-10 text-dark bg-white fs-7 fs-md-6"
                >
                  https://etadoor.ru/
                </div><div class="reuse-block__button-more text-decoration-underline">
                Подробнее
              </div>
              </div>

              
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-sm-6">
        <a href="#" class="reuse-block">
          <img
            class="reuse-block__bg-image"
            src="../../img/site/626ba13bec7da306887522.webp"
            alt=""
          />
          <div class="reuse-block__content">
            <div>
              <div class="reuse-block__text">
                <p class="fs-lg-special-size fs-6 fw-bl-bold">
                  Интернет-магазин производителя влагостойких дверей - EtaDoor
                </p>
                <div
                  class="text-decoration-underline py-5 px-10 text-dark bg-white fs-7 fs-md-6"
                >
                  https://etadoor.ru/
                </div><div class="reuse-block__button-more text-decoration-underline">
                Подробнее
              </div>
              </div>

              
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-sm-6">
        <a href="#" class="reuse-block">
          <img
            class="reuse-block__bg-image"
            src="../../img/site/626ba13bec7da306887522.webp"
            alt=""
          />
          <div class="reuse-block__content">
            <div>
              <div class="reuse-block__text">
                <p class="fs-lg-special-size fs-6 fw-bl-bold">
                  Интернет-магазин производителя влагостойких дверей - EtaDoor
                </p>
                <div
                  class="text-decoration-underline py-5 px-10 text-dark bg-white fs-7 fs-md-6"
                >
                  https://etadoor.ru/
                </div><div class="reuse-block__button-more text-decoration-underline">
                Подробнее
              </div>
              </div>

              
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
</section>
