<div class="d-flex reuse-tabs">
  <div class="slider-control-btn slider-control-btn--prev">
    @@include('../page-blocks/_sprite.html', {'id': 'arrow-next', 'width':
    '25px', 'height': '18px'})
  </div>
  <div class="flex-grow-1 d-flex gap-10">
    <div class="reuse-tabs__button">SEO продвижение</div>
    <div class="reuse-tabs__button">Создание сайтов</div>
    <div class="reuse-tabs__button">Мобильные  приложения</div>
    <div class="reuse-tabs__button">Редизайн</div>
    <div class="reuse-tabs__button">Логотипы</div>
  </div>
  <div class="slider-control-btn slider-control-btn--next ">
    @@include('../page-blocks/_sprite.html', {'id': 'arrow-prev', 'width':
    '25px', 'height': '18px'})
  </div>
</div>
