<section>
  <div class="py-50">
    <div class="tabs">
      <div class="tabs__nav">
        <button class="tabs__btn tabs__btn--active">
          <span class="tabs__btn-title">Текстовые отзывы</span>
          <a href="#" class="tabs__btn-link">Все отзывы</a>
        </button>
        <button class="tabs__btn">
          <span class="tabs__btn-title">Видеоотзывы</span>
          <a href="#" class="tabs__btn-link">Все видео</a>
        </button>
      </div>
      <div class="tabs__content">
        <div class="tabs__pane tabs__pane--show">
          <div id="n-reviews-gall" class="reviews-text-slider swiper-slider h-100">
            <div class="swiper-wrapper">
              <div class="swiper-slide h-100">
                <div class="reviews-block">
                  <div class="py-30 border-bottom mb-15">
                    <div
                      class="d-flex mb-40 justify-content-between align-items-center"
                    >
                      <div
                        class="d-flex justify-content-between gap-15 align-items-center"
                      >
                        <div
                          style="width: 60px; height: 60px"
                          class="gap-15 rounded-circle overflow-hidden responsive-img"
                        >
                          <img
                            class="responsive-img__image"
                            src="img/626ba13bec7da306887522.webp"
                            alt=""
                          />
                        </div>
                        <span class="text-uppercase">Katrin P.</span>
                      </div>
                      <div class="d-flex gap-5">
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <div class="reviews-text-block__star">
                          @@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})
                        </div>
                      </div>
                    </div>
                    <div class="reviews-text-block__text-container" data-simplebar id="sidebar-scroll">
                      <p>
                        С компанией Агелар мы тесно сотрудничаем с прошлого
                        года. За это время был создан с 0 новый сайт компании,
                        по всем тематическим запросам сейчас этот сайт находится
                        в Топ 10 выдачи Яндекса. Это позволяет привлекать
                        целевых клиентов. Эффективность такого продвижения
                        значительно выше чем просто реклама в Я. Директ.
                        Рекомендую! С компанией Агелар мы тесно сотрудничаем с
                        прошлого года. За это время был создан с 0 новый сайт
                        компании, по всем тематическим запросам сейчас этот сайт
                        находится в Топ 10 выдачи Яндекса. Это позволяет
                        привлекать целевых клиентов. Эффективность такого
                        продвижения значительно выше чем просто реклама в Я.
                        Директ. Рекомендую!
                      </p>
                    </div>
                  </div>
                  <span data-src="img/626ba13bec7da306887522.png"
                    class="fs-7 js-gal fs-md-6 fw-light text-decoration-underline cursor-pointer"
                    >Посмотреть оригинал отзыва <img src="img/626ba13bec7da306887522.png" loading="lazy" style="display:none" alt="Оригинал отзыва от Katrin P."></span
                  >
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-text-block">
                  <div class="py-30 border-bottom mb-15">
                    <div
                      class="d-flex mb-40 justify-content-between align-items-center"
                    >
                      <div
                        class="d-flex justify-content-between gap-15 align-items-center"
                      >
                        <div
                          style="width: 60px; height: 60px"
                          class="gap-15 rounded-circle overflow-hidden responsive-img"
                        >
                          <img
                            class="responsive-img__image"
                            src="img/626ba13bec7da306887522.webp"
                            alt=""
                          />
                        </div>
                        <span class="text-uppercase">Katrin P.</span>
                      </div>
                      <div class="d-flex gap-5">
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <div class="reviews-text-block__star">
                          @@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})
                        </div>
                      </div>
                    </div>
                    <div class="reviews-text-block__text-container" data-simplebar id="sidebar-scroll">
                      <p>
                        С компанией Агелар мы тесно сотрудничаем с прошлого
                        года. За это время был создан с 0 новый сайт компании,
                        по всем тематическим запросам сейчас этот сайт находится
                        в Топ 10 выдачи Яндекса. Это позволяет привлекать
                        целевых клиентов. Эффективность такого продвижения
                        значительно выше чем просто реклама в Я. Директ.
                        Рекомендую! С компанией Агелар мы тесно сотрудничаем с
                        прошлого года. За это время был создан с 0 новый сайт
                        компании, по всем тематическим запросам сейчас этот сайт
                        находится в Топ 10 выдачи Яндекса. Это позволяет
                        привлекать целевых клиентов. Эффективность такого
                        продвижения значительно выше чем просто реклама в Я.
                        Директ. Рекомендую!
                      </p>
                    </div>
                  </div>
                  <span
                    class="fs-7 fs-md-6 fw-light text-decoration-underline cursor-pointer"
                    >Посмотреть оригинал отзыва</span
                  >
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-text-block">
                  <div class="py-30 border-bottom mb-15">
                    <div
                      class="d-flex mb-40 justify-content-between align-items-center"
                    >
                      <div
                        class="d-flex justify-content-between gap-15 align-items-center"
                      >
                        <div
                          style="width: 60px; height: 60px"
                          class="gap-15 rounded-circle overflow-hidden responsive-img"
                        >
                          <img
                            class="responsive-img__image"
                            src="img/626ba13bec7da306887522.webp"
                            alt=""
                          />
                        </div>
                        <span class="text-uppercase">Katrin P.</span>
                      </div>
                      <div class="d-flex gap-5">
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <div class="reviews-text-block__star">
                          @@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})
                        </div>
                      </div>
                    </div>
                    <div class="reviews-text-block__text-container" data-simplebar id="sidebar-scroll">
                      <p>
                        С компанией Агелар мы тесно сотрудничаем с прошлого
                        года. За это время был создан с 0 новый сайт компании,
                        по всем тематическим запросам сейчас этот сайт находится
                        в Топ 10 выдачи Яндекса. Это позволяет привлекать
                        целевых клиентов. Эффективность такого продвижения
                        значительно выше чем просто реклама в Я. Директ.
                        Рекомендую! С компанией Агелар мы тесно сотрудничаем с
                        прошлого года. За это время был создан с 0 новый сайт
                        компании, по всем тематическим запросам сейчас этот сайт
                        находится в Топ 10 выдачи Яндекса. Это позволяет
                        привлекать целевых клиентов. Эффективность такого
                        продвижения значительно выше чем просто реклама в Я.
                        Директ. Рекомендую!
                      </p>
                    </div>
                  </div>
                  <span
                    class="fs-7 fs-md-6 fw-light text-decoration-underline cursor-pointer"
                    >Посмотреть оригинал отзыва</span
                  >
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-text-block">
                  <div class="py-30 border-bottom mb-15">
                    <div
                      class="d-flex mb-40 justify-content-between align-items-center"
                    >
                      <div
                        class="d-flex justify-content-between gap-15 align-items-center"
                      >
                        <div
                          style="width: 60px; height: 60px"
                          class="gap-15 rounded-circle overflow-hidden responsive-img"
                        >
                          <img
                            class="responsive-img__image"
                            src="img/626ba13bec7da306887522.webp"
                            alt=""
                          />
                        </div>
                        <span class="text-uppercase">Katrin P.</span>
                      </div>
                      <div class="d-flex gap-5">
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <div class="reviews-text-block__star">
                          @@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})
                        </div>
                      </div>
                    </div>
                    <div class="reviews-text-block__text-container" data-simplebar id="sidebar-scroll">
                      <p>
                        С компанией Агелар мы тесно сотрудничаем с прошлого
                        года. За это время был создан с 0 новый сайт компании,
                        по всем тематическим запросам сейчас этот сайт находится
                        в Топ 10 выдачи Яндекса. Это позволяет привлекать
                        целевых клиентов. Эффективность такого продвижения
                        значительно выше чем просто реклама в Я. Директ.
                        Рекомендую! С компанией Агелар мы тесно сотрудничаем с
                        прошлого года. За это время был создан с 0 новый сайт
                        компании, по всем тематическим запросам сейчас этот сайт
                        находится в Топ 10 выдачи Яндекса. Это позволяет
                        привлекать целевых клиентов. Эффективность такого
                        продвижения значительно выше чем просто реклама в Я.
                        Директ. Рекомендую!
                      </p>
                    </div>
                  </div>
                  <span
                    class="fs-7 fs-md-6 fw-light text-decoration-underline cursor-pointer"
                    >Посмотреть оригинал отзыва</span
                  >
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-text-block">
                  <div class="py-30 border-bottom mb-15">
                    <div
                      class="d-flex mb-40 justify-content-between align-items-center"
                    >
                      <div
                        class="d-flex justify-content-between gap-15 align-items-center"
                      >
                        <div
                          style="width: 60px; height: 60px"
                          class="gap-15 rounded-circle overflow-hidden responsive-img"
                        >
                          <img
                            class="responsive-img__image"
                            src="img/626ba13bec7da306887522.webp"
                            alt=""
                          />
                        </div>
                        <span class="text-uppercase">Katrin P.</span>
                      </div>
                      <div class="d-flex gap-5">
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <div class="reviews-text-block__star">
                          @@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})
                        </div>
                      </div>
                    </div>
                    <div class="reviews-text-block__text-container" data-simplebar id="sidebar-scroll">
                      <p>
                        С компанией Агелар мы тесно сотрудничаем с прошлого
                        года. За это время был создан с 0 новый сайт компании,
                        по всем тематическим запросам сейчас этот сайт находится
                        в Топ 10 выдачи Яндекса. Это позволяет привлекать
                        целевых клиентов. Эффективность такого продвижения
                        значительно выше чем просто реклама в Я. Директ.
                        Рекомендую! С компанией Агелар мы тесно сотрудничаем с
                        прошлого года. За это время был создан с 0 новый сайт
                        компании, по всем тематическим запросам сейчас этот сайт
                        находится в Топ 10 выдачи Яндекса. Это позволяет
                        привлекать целевых клиентов. Эффективность такого
                        продвижения значительно выше чем просто реклама в Я.
                        Директ. Рекомендую!
                      </p>
                    </div>
                  </div>
                  <span
                    class="fs-7 fs-md-6 fw-light text-decoration-underline cursor-pointer"
                    >Посмотреть оригинал отзыва</span
                  >
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-text-block">
                  <div class="py-30 border-bottom mb-15">
                    <div
                      class="d-flex mb-40 justify-content-between align-items-center"
                    >
                      <div
                        class="d-flex justify-content-between gap-15 align-items-center"
                      >
                        <div
                          style="width: 60px; height: 60px"
                          class="gap-15 rounded-circle overflow-hidden responsive-img"
                        >
                          <img
                            class="responsive-img__image"
                            src="img/626ba13bec7da306887522.webp"
                            alt=""
                          />
                        </div>
                        <span class="text-uppercase">Katrin P.</span>
                      </div>
                      <div class="d-flex gap-5">
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <span
                          class="reviews-text-block__star reviews-text-block__star--active"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})</span
                        >
                        <div class="reviews-text-block__star">
                          @@include('../page-blocks/_sprite.html', {'id':
                          'star', 'width': '18px', 'height': '18px'})
                        </div>
                      </div>
                    </div>
                    <div class="reviews-text-block__text-container" data-simplebar id="sidebar-scroll">
                      <p>
                        С компанией Агелар мы тесно сотрудничаем с прошлого
                        года. За это время был создан с 0 новый сайт компании,
                        по всем тематическим запросам сейчас этот сайт находится
                        в Топ 10 выдачи Яндекса. Это позволяет привлекать
                        целевых клиентов. Эффективность такого продвижения
                        значительно выше чем просто реклама в Я. Директ.
                        Рекомендую! С компанией Агелар мы тесно сотрудничаем с
                        прошлого года. За это время был создан с 0 новый сайт
                        компании, по всем тематическим запросам сейчас этот сайт
                        находится в Топ 10 выдачи Яндекса. Это позволяет
                        привлекать целевых клиентов. Эффективность такого
                        продвижения значительно выше чем просто реклама в Я.
                        Директ. Рекомендую!
                      </p>
                    </div>
                  </div>
                  <span
                    class="fs-7 fs-md-6 fw-light text-decoration-underline cursor-pointer"
                    >Посмотреть оригинал отзыва</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__pane py-30">
          <div class="reviews-video-slider swiper-slider h-100">
            <div class="swiper-wrapper">
              <div class="swiper-slide h-100">
                <div class="reviews-block">
                  <div class="box-aspect box-aspect--full responsive-img">
                    <iframe width="100%" height="100%" class="responsive-img__image" src="https://www.youtube.com/embed/Ah0DUM1SqUM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <img
                      class="responsive-img__image"
                      src="img/626ba13bec7da306887522.webp"
                      alt=""
                    /> -->
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block">
                  <div class="box-aspect box-aspect--full responsive-img">
                    <img
                      class="responsive-img__image"
                      src="img/626ba13bec7da306887522.webp"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block">
                  <div class="box-aspect box-aspect--full responsive-img">
                    <img
                      class="responsive-img__image"
                      src="img/626ba13bec7da306887522.webp"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block">
                  <div class="box-aspect box-aspect--full responsive-img">
                    <img
                      class="responsive-img__image"
                      src="img/626ba13bec7da306887522.webp"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block">
                  <div class="box-aspect box-aspect--full responsive-img">
                    <img
                      class="responsive-img__image"
                      src="img/626ba13bec7da306887522.webp"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-30"><a class="text-decoration-underline" href="">Смотреть все отзывы</a></div>
  </div>
</section>
