<div class="solutions pl-336">
  <div class="solution preview">
    <div class="poster">
      <div class="info">
        <h4>Дополнительно</h4>
        <div class="text">
          <p><strong>Встроенный функционал:</strong></p>

          <ul>
            <li>Адаптивный дизайн</li>
            <li>Формы обратной связи и записи</li>
            <li>Интеграция с месенджерами</li>
            <li>Отображение соц сетей</li>
            <li>В каждом блоке содержится функционал слайда</li>
            <li>Сайт оптимизирован под SEO</li>
            <li>На заливку контента у вас уйдет от 30 мин до 1 часа</li>
          </ul>

          <p>
            <em
              ><strong
                >Бесплатная установка: подключение и настройка сайта на ваш
                домен,&nbsp;хостинг и SSL сертификата</strong
              ></em
            >
          </p>
        </div>
      </div>

      <img src="http://newagelar.webtm.ru/uploads/files/rl11.webp" alt="Готовый сайт недорого" />
    </div>
    <div class="name">Лендинг Услуги озеленения</div>
    <div class="priceAndOptions">
      <div class="price">
        <span class="word">Цена:</span><span class="number">6 500</span
        ><span class="cur">руб.</span>
      </div>
      <div class="options">
        <a href="">
          <img
            src="http://newagelar.webtm.ru/assets/templates/agelar/images/solutions/question3.png"
            alt="Есть вопросы"
            class="question"
          />
        </a>
      </div>
    </div>
    <div class="btns">
      <a href="https://ready-landing11.agelar.ru" class="demo" target="_blank"
        >ДЕМО</a
      >
      <a
        href="#"
        data-bs-toggle="modal" data-bs-target="#modal-kp"
        class="order"
        >ЗАКАЗАТЬ</a
      >
    </div>
  </div>
  <div class="solution preview">
    <div class="poster">
      <div class="info">
        <h4>Дополнительно</h4>
        <div class="text">
          <p><strong>Встроенный функционал:</strong></p>

          <ul>
            <li>Адаптивный дизайн</li>
            <li>Формы обратной связи и записи</li>
            <li>Интеграция с месенджерами</li>
            <li>Отображение соц сетей</li>
            <li>В каждом блоке содержится функционал слайда</li>
            <li>Сайт оптимизирован под SEO</li>
            <li>На заливку контента у вас уйдет от 30 мин до 1 часа</li>
          </ul>

          <p>
            <em
              ><strong
                >Бесплатная установка: подключение и настройка сайта на ваш
                домен,&nbsp;хостинг и SSL сертификата</strong
              ></em
            >
          </p>
        </div>
      </div>

      <img src="http://newagelar.webtm.ru/uploads/files/rl11.webp" alt="Готовый сайт недорого" />
    </div>
    <div class="name">Лендинг Услуги озеленения</div>
    <div class="priceAndOptions">
      <div class="price">
        <span class="word">Цена:</span><span class="number">6 500</span
        ><span class="cur">руб.</span>
      </div>
      <div class="options">
        <a href="">
          <img
            src="http://newagelar.webtm.ru/assets/templates/agelar/images/solutions/question3.png"
            alt="Есть вопросы"
            class="question"
          />
        </a>
      </div>
    </div>
    <div class="btns">
      <a href="https://ready-landing11.agelar.ru" class="demo" target="_blank"
        >ДЕМО</a
      >
      <a
        href="#"
        data-bs-toggle="modal" data-bs-target="#modal-kp"
        class="order"
        >ЗАКАЗАТЬ</a
      >
    </div>
  </div>
  <div class="solution preview">
    <div class="poster">
      <div class="info">
        <h4>Дополнительно</h4>
        <div class="text">
          <p><strong>Встроенный функционал:</strong></p>

          <ul>
            <li>Адаптивный дизайн</li>
            <li>Формы обратной связи и записи</li>
            <li>Интеграция с месенджерами</li>
            <li>Отображение соц сетей</li>
            <li>В каждом блоке содержится функционал слайда</li>
            <li>Сайт оптимизирован под SEO</li>
            <li>На заливку контента у вас уйдет от 30 мин до 1 часа</li>
          </ul>

          <p>
            <em
              ><strong
                >Бесплатная установка: подключение и настройка сайта на ваш
                домен,&nbsp;хостинг и SSL сертификата</strong
              ></em
            >
          </p>
        </div>
      </div>

      <img src="http://newagelar.webtm.ru/uploads/files/rl11.webp" alt="Готовый сайт недорого" />
    </div>
    <div class="name">Лендинг Услуги озеленения</div>
    <div class="priceAndOptions">
      <div class="price">
        <span class="word">Цена:</span><span class="number">6 500</span
        ><span class="cur">руб.</span>
      </div>
      <div class="options">
        <a href="">
          <img
            src="http://newagelar.webtm.ru/assets/templates/agelar/images/solutions/question3.png"
            alt="Есть вопросы"
            class="question"
          />
        </a>
      </div>
    </div>
    <div class="btns">
      <a href="https://ready-landing11.agelar.ru" class="demo" target="_blank"
        >ДЕМО</a
      >
      <a
        href="#"
        data-bs-toggle="modal" data-bs-target="#modal-kp"
        class="order"
        >ЗАКАЗАТЬ</a
      >
    </div>
  </div>
  <div class="solution preview">
    <div class="poster">
      <div class="info">
        <h4>Дополнительно</h4>
        <div class="text">
          <p><strong>Встроенный функционал:</strong></p>

          <ul>
            <li>Адаптивный дизайн</li>
            <li>Формы обратной связи и записи</li>
            <li>Интеграция с месенджерами</li>
            <li>Отображение соц сетей</li>
            <li>В каждом блоке содержится функционал слайда</li>
            <li>Сайт оптимизирован под SEO</li>
            <li>На заливку контента у вас уйдет от 30 мин до 1 часа</li>
          </ul>

          <p>
            <em
              ><strong
                >Бесплатная установка: подключение и настройка сайта на ваш
                домен,&nbsp;хостинг и SSL сертификата</strong
              ></em
            >
          </p>
        </div>
      </div>

      <img src="http://newagelar.webtm.ru/uploads/files/rl11.webp" alt="Готовый сайт недорого" />
    </div>
    <div class="name">Лендинг Услуги озеленения</div>
    <div class="priceAndOptions">
      <div class="price">
        <span class="word">Цена:</span><span class="number">6 500</span
        ><span class="cur">руб.</span>
      </div>
      <div class="options">
        <a href="">
          <img
            src="http://newagelar.webtm.ru/assets/templates/agelar/images/solutions/question3.png"
            alt="Есть вопросы"
            class="question"
          />
        </a>
      </div>
    </div>
    <div class="btns">
      <a href="https://ready-landing11.agelar.ru" class="demo" target="_blank"
        >ДЕМО</a
      >
      <a
        href="#"
        data-bs-toggle="modal" data-bs-target="#modal-kp"
        class="order"
        >ЗАКАЗАТЬ</a
      >
    </div>
  </div>
  <div class="solution preview">
    <div class="poster">
      <div class="info">
        <h4>Дополнительно</h4>
        <div class="text">
          <p><strong>Встроенный функционал:</strong></p>

          <ul>
            <li>Адаптивный дизайн</li>
            <li>Формы обратной связи и записи</li>
            <li>Интеграция с месенджерами</li>
            <li>Отображение соц сетей</li>
            <li>В каждом блоке содержится функционал слайда</li>
            <li>Сайт оптимизирован под SEO</li>
            <li>На заливку контента у вас уйдет от 30 мин до 1 часа</li>
          </ul>

          <p>
            <em
              ><strong
                >Бесплатная установка: подключение и настройка сайта на ваш
                домен,&nbsp;хостинг и SSL сертификата</strong
              ></em
            >
          </p>
        </div>
      </div>

      <img src="http://newagelar.webtm.ru/uploads/files/rl11.webp" alt="Готовый сайт недорого" />
    </div>
    <div class="name">Лендинг Услуги озеленения</div>
    <div class="priceAndOptions">
      <div class="price">
        <span class="word">Цена:</span><span class="number">6 500</span
        ><span class="cur">руб.</span>
      </div>
      <div class="options">
        <a href="">
          <img
            src="http://newagelar.webtm.ru/assets/templates/agelar/images/solutions/question3.png"
            alt="Есть вопросы"
            class="question"
          />
        </a>
      </div>
    </div>
    <div class="btns">
      <a href="https://ready-landing11.agelar.ru" class="demo" target="_blank"
        >ДЕМО</a
      >
      <a
        href="#"
        data-bs-toggle="modal" data-bs-target="#modal-kp"
        class="order"
        >ЗАКАЗАТЬ</a
      >
    </div>
  </div>
  <div class="solution preview">
    <div class="poster">
      <div class="info">
        <h4>Дополнительно</h4>
        <div class="text">
          <p><strong>Встроенный функционал:</strong></p>

          <ul>
            <li>Адаптивный дизайн</li>
            <li>Формы обратной связи и записи</li>
            <li>Интеграция с месенджерами</li>
            <li>Отображение соц сетей</li>
            <li>В каждом блоке содержится функционал слайда</li>
            <li>Сайт оптимизирован под SEO</li>
            <li>На заливку контента у вас уйдет от 30 мин до 1 часа</li>
          </ul>

          <p>
            <em
              ><strong
                >Бесплатная установка: подключение и настройка сайта на ваш
                домен,&nbsp;хостинг и SSL сертификата</strong
              ></em
            >
          </p>
        </div>
      </div>

      <img src="http://newagelar.webtm.ru/uploads/files/rl11.webp" alt="Готовый сайт недорого" />
    </div>
    <div class="name">Лендинг Услуги озеленения</div>
    <div class="priceAndOptions">
      <div class="price">
        <span class="word">Цена:</span><span class="number">6 500</span
        ><span class="cur">руб.</span>
      </div>
      <div class="options">
        <a href="">
          <img
            src="http://newagelar.webtm.ru/assets/templates/agelar/images/solutions/question3.png"
            alt="Есть вопросы"
            class="question"
          />
        </a>
      </div>
    </div>
    <div class="btns">
      <a href="https://ready-landing11.agelar.ru" class="demo" target="_blank"
        >ДЕМО</a
      >
      <a
        href="#"
        data-bs-toggle="modal" data-bs-target="#modal-kp"
        class="order"
        >ЗАКАЗАТЬ</a
      >
    </div>
  </div>
  <div class="solution preview">
    <div class="poster">
      <div class="info">
        <h4>Дополнительно</h4>
        <div class="text">
          <p><strong>Встроенный функционал:</strong></p>

          <ul>
            <li>Адаптивный дизайн</li>
            <li>Формы обратной связи и записи</li>
            <li>Интеграция с месенджерами</li>
            <li>Отображение соц сетей</li>
            <li>В каждом блоке содержится функционал слайда</li>
            <li>Сайт оптимизирован под SEO</li>
            <li>На заливку контента у вас уйдет от 30 мин до 1 часа</li>
          </ul>

          <p>
            <em
              ><strong
                >Бесплатная установка: подключение и настройка сайта на ваш
                домен,&nbsp;хостинг и SSL сертификата</strong
              ></em
            >
          </p>
        </div>
      </div>

      <img src="http://newagelar.webtm.ru/uploads/files/rl11.webp" alt="Готовый сайт недорого" />
    </div>
    <div class="name">Лендинг Услуги озеленения</div>
    <div class="priceAndOptions">
      <div class="price">
        <span class="word">Цена:</span><span class="number">6 500</span
        ><span class="cur">руб.</span>
      </div>
      <div class="options">
        <a href="">
          <img
            src="http://newagelar.webtm.ru/assets/templates/agelar/images/solutions/question3.png"
            alt="Есть вопросы"
            class="question"
          />
        </a>
      </div>
    </div>
    <div class="btns">
      <a href="https://ready-landing11.agelar.ru" class="demo" target="_blank"
        >ДЕМО</a
      >
      <a
        href="#"
        data-bs-toggle="modal" data-bs-target="#modal-kp"
        class="order"
        >ЗАКАЗАТЬ</a
      >
    </div>
  </div>
</div>
