<section>
  <div class="py-50">
    <div class="box-title box-title--controls layout-normalize">
      <h2 class="box-title__title">Наши специалисты</h2>
      <div class="box-controls mb-15">
        <div class="slider-control-btn slider-control-btn--prev slider-stuff-prev"> @@include('../page-blocks/_sprite.html', {'id': 'arrow-next', 'width': '25px', 'height': '18px'})</div>
        <div class="slider-control-btn slider-control-btn--next slider-stuff-next"> @@include('../page-blocks/_sprite.html', {'id': 'arrow-prev', 'width': '25px', 'height': '18px'})</div>
      </div>
    </div>
    <div class="swiper-slider slider-stuff h-100">
      <div class="swiper-wrapper">
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>

        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide h-100">
            <div class="p-15 border">
                <div class="responsive-img mb-15 slider-stuff__image">
                    <img class="responsive-img__image" src="img/irina.png" alt="">
                </div>
                <div class="text-center">
                    <p class="fs-special-size mb-0">Ирина</p>
                    <span>Менеджер проектов</span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
