<section>
  <div class="container-fluid py-30 layout-normalize">
    <div class="box-title">
      <h2 class="box-title__title">Акции и спецпредложения</h2>
    </div>
    <div class="box-grid">
      <div class="box-case box-aspect box-aspect--square responsive-img">
        <img
          class="box-case__bg-image responsive-img__image"
          src="img/626ba13bec7da306887522.png"
          alt=""
        />

        <div class="box-case__content-box">
          
          <p class="text-center fs-6 fs-special-size fw-bold">Разработать сайт
            в рассрочку без процентов</p>
        </div>

        <div class="box-case__btn-float">
          @@include('../page-blocks/_sprite.html', {'id': 'PaperPlaneCase',
          'width': '13px', 'height': '13px'})
        </div>
      </div>
    </div>
  </div>
</section>
