<section>
  <div class="px-15 py-20 px-md-50 py-md-40 px-lg-100 py-lg-50 bg-block">
    <div class="box-title">
      <h2 class="box-title__title">
        Наша стратегия: Доступность, Открытость, Надежность
      </h2>
    </div>
    <div class="row gy-4 mb-30">
      <div class="col-xxl-five col-6 position-relative">
        <div class="circle-number">
          <div class="circle-number__container">
            <div class="d-flex align-items-end gap-5">
              <span class="fs-7 fs-md-6">С</span>
              <span
                class="fs-3 fs-md-1 fw-bolder text-primary"
                style="line-height: 80%;  white-space: nowrap;"
                >2000</span
              >
              <span class="fs-7 fs-md-6">сайтов</span>
            </div>
            <span class="fs-7 fs-md-6">на рынке</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-five col-6 position-relative">
        <div class="circle-number">
          <div class="circle-number__container">
            <div class="d-flex align-items-end gap-5">
              <span
                class="fs-3 fs-md-1 fw-bolder text-primary"
                style="line-height: 80% ; white-space: nowrap;"
                >23</span
              >
            </div>
            <span class="fs-7 fs-md-6">сотрудника</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-five col-6 position-relative">
        <div class="circle-number">
          <div class="circle-number__container">
            <div class="d-flex align-items-end gap-5">
              <span
                class="fs-3 fs-md-1 fw-bolder text-primary"
                style="line-height: 80%; white-space: nowrap;"
                >23</span
              >
            </div>
            <span class="fs-7 fs-md-6">сотрудника</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-five col-6 position-relative">
        <div class="circle-number">
          <div class="circle-number__container">
            <div class="d-flex align-items-end gap-5">
              <span
                class="fs-3 fs-md-1 fw-bolder text-primary"
                style="line-height: 80%;  white-space: nowrap;"
                >23</span
              >
            </div>
            <span class="fs-7 fs-md-6">сотрудника</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-five col-6 position-relative">
        <div class="circle-number">
          <div class="circle-number__container">
            <div class="d-flex align-items-end gap-5">
              <span
                class="fs-3 fs-md-1 fw-bolder text-primary"
                style="line-height: 80%;  white-space: nowrap;"
                >23</span
              >
            </div>
            <span class="fs-7 fs-md-6">сотрудника</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p>
        Для развития интернет-проектов используют два основных направления:
        поисковую оптимизацию (SEO) и рекламу на тематических ресурсах. Оба
        метода преследуют одну цель, но для достижения результата применяются
        разные средства. СЕО продвижение сайтов иначе называют естественной,
        органической оптимизацией. Оно не дает быстрых результатов, но работает
        эффективно и долго. По специально подобранным запросам проект
        поднимается на первые строчки поисковиков, а значит посетители будут
        посещать ресурс в любое время, независимо от того проводится ли реклама
        или нет.
      </p>
      <p>
        Данный метод позволяет получать посетителей на постоянной основе из
        органического поиска, благодаря чему можно увеличить в перспективе число
        заявок, и поэтому повысить доход без повторных дополнительных
        ежемесячных затрат.
      </p>
    </div>
    <div class="strategy-pillar">
      <div
        data-bs-toggle="collapse"
        data-bs-target="#multiCollapseExample1"
        class="strategy-pillar__line-btn btn-expand btn-expand--active d-flex py-10 gap-15 justify-content-between align-items-center"
      >
        <p class="mb-0 fw-bolder fs-4 fs-lg-3">
          Что дает SEO продвижение сайтов?
        </p>
        <div class="strategy-pillar__arrow">
          @@include('../page-blocks/_sprite.html', {'id': 'arrow-strategy',
          'width': '18px', 'height': '11px'})
        </div>
      </div>
      <div class="collapse show fs-md-6 fs-7" id="multiCollapseExample1">
        <p>
          Поисковая оптимизация представляет собой комплекс мероприятий,
          направленных на повышение позиций сайта в поиске по запросам
          пользователей. Яндекс, Google являются основными источниками трафика
          на web-ресурсах любых типов: корпоративных, информационных,
          интернет-магазинов и даже визиток.
        </p>
        <p>
          Поисковым трафиком интересуются практически все владельцы сайтов, так
          как не нужно платить деньги за клики и переходы, как в таргетированной
          или контекстной рекламе. По этой причине SEO (Search Engine
          Optimization) иначе называют бесплатным продвижением, хотя вложения на
          этапе развития могут быть высокими.
        </p>
        <p>
          Для получения конверсии компании нужно рассказать клиенту о своей
          деятельности, продукции, услугах. На первых позициях привлечь новых
          покупателей гораздо легче. Высокие строчки в поиске работают как
          стереотип: если выше (в центре), то значит компания более успешна, а
          информация правдива.
        </p>
        <h3 class="fs-6 fs-md-special-size mb-0">Плюсы СЕО-продвижения:</h3>
        <ul>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
        </ul>
      </div>
    </div>
    <div class="strategy-pillar">
      <div
        data-bs-toggle="collapse"
        data-bs-target="#multiCollapseExample2"
        class="strategy-pillar__line-btn btn-expand btn-expand--active d-flex py-10 gap-15 justify-content-between align-items-center"
      >
        <p class="mb-0 fw-bolder fs-4 fs-lg-3">
          Что дает SEO продвижение сайтов?
        </p>
        <div class="strategy-pillar__arrow">
          @@include('../page-blocks/_sprite.html', {'id': 'arrow-strategy',
          'width': '18px', 'height': '11px'})
        </div>
      </div>
      <div class="collapse show fs-md-6 fs-7" id="multiCollapseExample2">
        <p>
          Поисковая оптимизация представляет собой комплекс мероприятий,
          направленных на повышение позиций сайта в поиске по запросам
          пользователей. Яндекс, Google являются основными источниками трафика
          на web-ресурсах любых типов: корпоративных, информационных,
          интернет-магазинов и даже визиток.
        </p>
        <p>
          Поисковым трафиком интересуются практически все владельцы сайтов, так
          как не нужно платить деньги за клики и переходы, как в таргетированной
          или контекстной рекламе. По этой причине SEO (Search Engine
          Optimization) иначе называют бесплатным продвижением, хотя вложения на
          этапе развития могут быть высокими.
        </p>
        <p>
          Для получения конверсии компании нужно рассказать клиенту о своей
          деятельности, продукции, услугах. На первых позициях привлечь новых
          покупателей гораздо легче. Высокие строчки в поиске работают как
          стереотип: если выше (в центре), то значит компания более успешна, а
          информация правдива.
        </p>
        <h3 class="fs-6 fs-md-special-size mb-0">Плюсы СЕО-продвижения:</h3>
        <ul>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
        </ul>
      </div>
    </div>
    <div class="strategy-pillar">
      <div
        data-bs-toggle="collapse"
        data-bs-target="#multiCollapseExample3"
        class="strategy-pillar__line-btn btn-expand btn-expand--active d-flex py-10 gap-15 justify-content-between align-items-center"
      >
        <p class="mb-0 fw-bolder fs-4 fs-lg-3">
          Что дает SEO продвижение сайтов?
        </p>
        <div class="strategy-pillar__arrow">
          @@include('../page-blocks/_sprite.html', {'id': 'arrow-strategy',
          'width': '18px', 'height': '11px'})
        </div>
      </div>
      <div class="collapse show fs-md-6 fs-7" id="multiCollapseExample3">
        <p>
          Поисковая оптимизация представляет собой комплекс мероприятий,
          направленных на повышение позиций сайта в поиске по запросам
          пользователей. Яндекс, Google являются основными источниками трафика
          на web-ресурсах любых типов: корпоративных, информационных,
          интернет-магазинов и даже визиток.
        </p>
        <p>
          Поисковым трафиком интересуются практически все владельцы сайтов, так
          как не нужно платить деньги за клики и переходы, как в таргетированной
          или контекстной рекламе. По этой причине SEO (Search Engine
          Optimization) иначе называют бесплатным продвижением, хотя вложения на
          этапе развития могут быть высокими.
        </p>
        <p>
          Для получения конверсии компании нужно рассказать клиенту о своей
          деятельности, продукции, услугах. На первых позициях привлечь новых
          покупателей гораздо легче. Высокие строчки в поиске работают как
          стереотип: если выше (в центре), то значит компания более успешна, а
          информация правдива.
        </p>
        <h3 class="fs-6 fs-md-special-size mb-0">Плюсы СЕО-продвижения:</h3>
        <ul>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
          <li>раскрутка бренда, быстрый запуск новых продуктов</li>
        </ul>
      </div>
    </div>
  </div>
</section>
