<section>
  <div class="container-fluid layout-normalize py-30">
    <div class="box-title">
      <h2 class="box-title__title">Наши тарифы</h2>
    </div>
    <div class="d-none d-md-flex gap-30 tarrifs-container">
      <div class="tarrifs-titles pt-30">
        <div class="tarrifs-titles__title mb-15 fw-bold">
          <p class="fs-md-special-size mb-0">Название тарифа</p>
          <div class="d-flex flex-column flex-md-row">
            <span>Стандартный </span>
            <span
              >/ С гарантией
              <span
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-html="true"
                title="<p class='fw-bold'>Анализ конкурентов</p>
                        <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>"
                >@@include('../page-blocks/_sprite.html', {'id': 'quest',
                'width': '13px', 'height': '13px'})</span
              ></span
            >
          </div>
        </div>
        <div class="tarrifs-titles__content">
          <p class="fw-bold">Что входит:</p>
          <div class="tarrifs-table">
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
          </div>
          <div class="tarrifs-table tarrifs-table--hidden">
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
            <div>Сбор контента для наполнения сайта</div>
          </div>
        </div>
        <div
          style="
            width: 66px;
            height: 5px;
            background: #a20000;
            border-radius: 0px 0px 8px 8px;
            margin: 5px auto 0 auto;
          "
        ></div>
        <div
          class="btn wp-100 py-15 tarrifs-content__more-button text-center text-primary"
        >
          Посмотреть подробности @@include('../page-blocks/_sprite.html', {'id':
          'arrexpand', 'width': '12px', 'height': '11px'})
        </div>
      </div>
      <div class="tarrifs-content overflow-hidden wp-100">
        <div class="tarrifs-slider swiper-slider h-100">
          <div class="swiper-wrapper">
            <div class="swiper-slide h-100">
              <div class="tarrifs-content__slide py-30 px-15 border">
                <div class="d-flex gap-15 mb-30">
                  <img
                    class="tarrifs-content__slide-icon"
                    src="img/start.svg"
                    alt=""
                  />
                  <div>
                    <span class="fw-bolder fs-2">Старт</span>
                    <div
                      class="d-flex flex-column flex-md-row fw-bold fs-6 fs-md-special-size"
                      style="line-height: 100%"
                    >
                      <span>14.900 ₽ </span
                      ><span>
                        / 24.900 ₽
                        <span
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          data-bs-html="true"
                          title="<p class='fw-bold'>Анализ конкурентов</p>
                                        <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'quest', 'width': '13px', 'height': '13px'})</span
                        ></span
                      >
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="tarrifs-table text-center">
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                  </div>
                  <div class="tarrifs-table tarrifs-table--hidden">
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                  </div>
                </div>
                <div
                  class="btn btn-primary wp-100 tarrifs-content__more-button mt-10 py-15 text-decoration-underline"
                >
                  Посмотреть подробности
                  @@include('../page-blocks/_sprite.html', {'id': 'arrexpand',
                  'width': '12px', 'height': '11px'})
                </div>
                <div
                  class="btn btn-primary wp-100 mt-10 py-15 text-decoration-underline"
                >
                  Выбрать тариф
                </div>
              </div>
            </div>
            <div class="swiper-slide h-100">
              <div class="tarrifs-content__slide py-30 px-15 border">
                <div class="d-flex gap-15 mb-30">
                  <img
                    class="tarrifs-content__slide-icon"
                    src="img/start.svg"
                    alt=""
                  />
                  <div>
                    <span class="fw-bolder fs-2">Старт</span>
                    <div
                      class="d-flex flex-column flex-md-row fw-bold fs-6 fs-md-special-size"
                      style="line-height: 100%"
                    >
                      <span>14.900 ₽ </span
                      ><span>
                        / 24.900 ₽
                        <span
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          data-bs-html="true"
                          title="<p class='fw-bold'>Анализ конкурентов</p>
                                      <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'quest', 'width': '13px', 'height': '13px'})</span
                        ></span
                      >
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="tarrifs-table text-center">
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                  </div>
                  <div class="tarrifs-table tarrifs-table--hidden">
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                  </div>
                </div>
                <div
                  class="btn btn-primary wp-100 tarrifs-content__more-button mt-10 py-15 text-decoration-underline"
                >
                  Посмотреть подробности
                  @@include('../page-blocks/_sprite.html', {'id': 'arrexpand',
                  'width': '12px', 'height': '11px'})
                </div>
                <div
                  class="btn btn-primary wp-100 mt-10 py-15 text-decoration-underline"
                >
                  Выбрать тариф
                </div>
              </div>
            </div>
            <div class="swiper-slide h-100">
              <div
                class="tarrifs-content__slide py-30 px-15 border bg-primary text-white"
              >
                <div class="d-flex gap-15 mb-30">
                  <img
                    class="tarrifs-content__slide-icon"
                    src="img/start.svg"
                    alt=""
                  />
                  <div>
                    <span class="fw-bolder fs-2">Старт</span>
                    <div
                      class="d-flex flex-column flex-md-row fw-bold fs-6 fs-md-special-size"
                      style="line-height: 100%"
                    >
                      <span>14.900 ₽ </span
                      ><span>
                        / 24.900 ₽
                        <span
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          data-bs-html="true"
                          class="text-white"
                          title="<p class='fw-bold'>Анализ конкурентов</p>
                                    <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>"
                          >@@include('../page-blocks/_sprite.html', {'id':
                          'quest', 'width': '13px', 'height': '13px'})</span
                        ></span
                      >
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="tarrifs-table text-center">
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                    <div><div class="tarrifs-table__dot"></div></div>
                  </div>
                  <div class="tarrifs-table tarrifs-table--hidden">
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                    <div>Сбор контента для наполнения сайта</div>
                  </div>
                </div>
                <div
                  class="btn btn-light text-primary tarrifs-content__more-button wp-100 mt-10 py-15 text-decoration-underline"
                >
                  Посмотреть подробности
                  @@include('../page-blocks/_sprite.html', {'id': 'arrexpand',
                  'width': '12px', 'height': '11px'})
                </div>
                <div
                  class="btn btn-light text-primary wp-100 mt-10 py-15 text-decoration-underline"
                >
                  Выбрать тариф
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-4 d-flex d-md-none">
      <div class="col-12">
        <div class="tarrifs-content__slide py-30 px-15 border">
          <div class="d-flex gap-15 mb-5">
            <img
              class="tarrifs-content__slide-icon"
              src="img/start.svg"
              alt=""
            />
            <div>
              <span class="fw-bolder fs-2">Старт</span>
              <div
                class="d-flex fw-bold fs-6 fs-md-special-size"
                style="line-height: 100%"
              >
                <span>14.900 ₽ </span
                ><span>
                  / 24.900 ₽
                  <span
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    data-bs-html="true"
                    title="<p class='fw-bold'>Анализ конкурентов</p>
                                    <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>"
                    >@@include('../page-blocks/_sprite.html', {'id': 'quest',
                    'width': '13px', 'height': '13px'})</span
                  ></span
                >
              </div>
            </div>
          </div>
          <div id="multiCollapseExample33" class="collapse">
            <div id="" class="tarrifs-table tarrifs-table-min text-center pt-20">
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>
                Сбор контента для наполнения сайта
                <span class="text-muted">250 ₽ за 1000 знаков</span>
              </div>
            </div>
          </div>
          <div
            data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample33"
            class="btn tariff-btn wp-100 mt-10 py-15 text-decoration-underline"
          >
            <span>Что входит</span> @@include('../page-blocks/_sprite.html',
            {'id': 'arrexpand', 'width': '12px', 'height': '11px'})
          </div>
          <div
            class="btn btn-primary wp-100 mt-10 py-15 text-decoration-underline"
          >
            <span>Выбрать тариф</span> 
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="tarrifs-content__slide py-30 px-15 border">
          <div class="d-flex gap-15 mb-5">
            <img
              class="tarrifs-content__slide-icon"
              src="img/start.svg"
              alt=""
            />
            <div>
              <span class="fw-bolder fs-2">Старт</span>
              <div
                class="d-flex fw-bold fs-6 fs-md-special-size"
                style="line-height: 100%"
              >
                <span>14.900 ₽ </span
                ><span>
                  / 24.900 ₽
                  <span
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    data-bs-html="true"
                    title="<p class='fw-bold'>Анализ конкурентов</p>
                                    <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>"
                    >@@include('../page-blocks/_sprite.html', {'id': 'quest',
                    'width': '13px', 'height': '13px'})</span
                  ></span
                >
              </div>
            </div>
          </div>
          <div id="multiCollapseExample33" class="collapse">
            <div id="" class="tarrifs-table tarrifs-table-min text-center pt-20">
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>
                Сбор контента для наполнения сайта
                <span class="text-muted">250 ₽ за 1000 знаков</span>
              </div>
            </div>
          </div>
          <div
            data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample33"
            class="btn tariff-btn wp-100 mt-10 py-15 text-decoration-underline"
          >
            <span>Что входит</span> @@include('../page-blocks/_sprite.html',
            {'id': 'arrexpand', 'width': '12px', 'height': '11px'})
          </div>
          <div
            class="btn btn-primary wp-100 mt-10 py-15 text-decoration-underline"
          >
            <span>Выбрать тариф</span> 
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="tarrifs-content__slide py-30 px-15 border text-white bg-primary">
          <div class="d-flex gap-15 mb-5">
            <img
              class="tarrifs-content__slide-icon"
              src="img/start.svg"
              alt=""
            />
            <div>
              <span class="fw-bolder fs-2">Старт</span>
              <div
                class="d-flex fw-bold fs-6 fs-md-special-size"
                style="line-height: 100%"
              >
                <span>14.900 ₽ </span
                ><span>
                  / 24.900 ₽
                  <span
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    data-bs-html="true"
                    title="<p class='fw-bold'>Анализ конкурентов</p>
                                    <p>Видимость в поисковой выдаче, посещаемость ресурсов, наполненность сайта, другие показатели.</p>"
                    >@@include('../page-blocks/_sprite.html', {'id': 'quest',
                    'width': '13px', 'height': '13px'})</span
                  ></span
                >
              </div>
            </div>
          </div>
          <div id="multiCollapseExample33" class="collapse">
            <div id="" class="tarrifs-table tarrifs-table-min text-center pt-20">
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>Сбор контента для наполнения сайта</div>
              <div>
                Сбор контента для наполнения сайта
                <span class="text-light">250 ₽ за 1000 знаков</span>
              </div>
            </div>
          </div>
          <div
            data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample33"
            class="btn tariff-btn text-white wp-100 mt-10 py-15 text-decoration-underline"
          >
            <span>Что входит</span> @@include('../page-blocks/_sprite.html',
            {'id': 'arrexpand', 'width': '12px', 'height': '11px'})
          </div>
          <div
            class="btn btn-light wp-100 mt-10 py-15 text-decoration-underline"
          >
            <span>Выбрать тариф</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
