<section>
  <div class="container-fluid layout-normalize">
    <div class="box-title">
      <h2 class="box-title__title">Используемые технологии</h2>
    </div>
  </div>
  <div class="swiper-slider slider-tech h-100">
    <div class="swiper-wrapper">
      <div class="swiper-slide h-100">
        <div class="box-tech">
          <div class="box-tech__icon-box mb-5">
            <img class="box-tech__icon" src="../../img/js.svg" alt="" />
          </div>
          <div class="text-center">
            <p class="fw-bold fs-5 fs-lg-4 mb-0">React</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide h-100">
        <div class="box-tech">
          <div class="box-tech__icon-box mb-5">
            <img class="box-tech__icon" src="../../img/js.svg" alt="" />
          </div>
          <div class="text-center">
            <p class="fw-bold fs-5 fs-lg-4 mb-0">React</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide h-100">
        <div class="box-tech">
          <div class="box-tech__icon-box mb-5">
            <img class="box-tech__icon" src="../../img/js.svg" alt="" />
          </div>
          <div class="text-center">
            <p class="fw-bold fs-5 fs-lg-4 mb-0">React</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide h-100">
        <div class="box-tech">
          <div class="box-tech__icon-box mb-5">
            <img class="box-tech__icon" src="../../img/js.svg" alt="" />
          </div>
          <div class="text-center">
            <p class="fw-bold fs-5 fs-lg-4 mb-0">React</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide h-100">
        <div class="box-tech">
          <div class="box-tech__icon-box mb-5">
            <img class="box-tech__icon" src="../../img/js.svg" alt="" />
          </div>
          <div class="text-center">
            <p class="fw-bold fs-5 fs-lg-4 mb-0">React</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
