<section>
  <div class="responsive-img">
    <img src="img/top-banner-bg.webp" class="responsive-img__image" alt="" />
    <div class="position-relative container-fluid px-20 px-lg-30 py-30">
      <div class="row">
        <div class="col-lg-6">
          <span class="fs-2 fw-bolder"> РАЗРАБОТКА И ПРОДВИЖЕНИЕ САЙТОВ </span>
          <p class="fs-4">
            Стратегический интернет-маркетинг бизнеса с 2015 года
          </p>
        </div>
        <div class="col-lg-6">
          <div class="border-bottom border-primary fs-5 fw-bold">
            Ваши преимущества
          </div>
          <div class="row pt-15 g-4">
            <div class="col-md-6">
              <div class="d-flex gap-30 align-items-center">
                <img src="img/banner-1.svg" alt="" />
                <p class="mb-0" style="letter-spacing: 1px">
                  Команда специалистов работает на вас
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex gap-30 align-items-center">
                <img src="img/banner-1.svg" alt="" />
                <p class="mb-0" style="letter-spacing: 1px">
                  Индивидуальная стратегия продвижения
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex gap-30 align-items-center">
                <img src="img/banner-1.svg" alt="" />
                <p class="mb-0" style="letter-spacing: 1px">
                  Погружение в ваш бизнес процесс
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex gap-30 align-items-center">
                <img src="img/banner-1.svg" alt="" />
                <p class="mb-0" style="letter-spacing: 1px">
                  Гарантия соблюдения сроков и достижения цели
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap gap-50 mt-20 mt-lg-50 justify-content-lg-between justify-content-center">
        <div>
          <div class="swiper-slider slider-top" style="
          max-width: 300px;
      ">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="d-flex gap-10 align-items-center">
                  <img src="img/img-bunner.png" alt="" />
                  <div>
                    <p class="mb-0">2 место в Рейтинге Рунета</p>
                    <p class="mb-0 fs-7">
                      Среди Digital агенств, работающих в Москве
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-10 align-items-center">
                  <img src="img/img-bunner.png" alt="" />
                  <div>
                    <p class="mb-0">2 место в Рейтинге Рунета</p>
                    <p class="mb-0 fs-7">
                      Среди Digital агенств, работающих в Москве
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-10 align-items-center">
                  <img src="img/img-bunner.png" alt="" />
                  <div>
                    <p class="mb-0">2 место в Рейтинге Рунета</p>
                    <p class="mb-0 fs-7">
                      Среди Digital агенств, работающих в Москве
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-10 align-items-center">
                  <img src="img/img-bunner.png" alt="" />
                  <div>
                    <p class="mb-0">2 место в Рейтинге Рунета</p>
                    <p class="mb-0 fs-7">
                      Среди Digital агенств, работающих в Москве
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-10 align-items-center">
                  <img src="img/img-bunner.png" alt="" />
                  <div>
                    <p class="mb-0">2 место в Рейтинге Рунета</p>
                    <p class="mb-0 fs-7">
                      Среди Digital агенств, работающих в Москве
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slider-top"></div>
        </div>
        <div class="d-flex gap-10">
          @@include('../page-blocks/_sprite.html', {'id': 'quote', 'width':
          '29px', 'height': '24px'})
          <div class="text-end">
            <p class="mb-0">Если Вас нет в Интернете, Вас нет в Бизнессе</p>
            <p class="mb-0">Стив Джобс</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
