<section>
  <div class="container-fluid layout-normalize">
    <div class="box-title">
      <h2 class="box-title__title">
        Наша стратегия: Доступность, Открытость, Надежность
      </h2>
    </div>
    <div class="row g-4">
      <div class="col-xl-4 col-md-6">
        <div class="d-flex">
          <div
            style="max-width: 300px"
            class="mx-auto d-flex flex-column align-items-center"
          >
            <div class="mb-15" style="height: 60px">
              <img class="h-100" src="img/box.webp" alt="   " />
            </div>
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
              sint veritatis enim aut reiciendis earum corrupti eum officia
              sequi cum, vero nesciunt ratione laudantium illum? Maxime nam
              quibusdam amet voluptates.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="d-flex">
          <div
            style="max-width: 300px"
            class="mx-auto d-flex flex-column align-items-center"
          >
            <div class="mb-15" style="height: 60px">
              <img class="h-100" src="img/box.webp" alt="   " />
            </div>
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
              sint veritatis enim aut reiciendis earum corrupti eum officia
              sequi cum, vero nesciunt ratione laudantium illum? Maxime nam
              quibusdam amet voluptates.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="d-flex">
          <div
            style="max-width: 300px"
            class="mx-auto d-flex flex-column align-items-center"
          >
            <div class="mb-15" style="height: 60px">
              <img class="h-100" src="img/box.webp" alt="   " />
            </div>
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
              sint veritatis enim aut reiciendis earum corrupti eum officia
              sequi cum, vero nesciunt ratione laudantium illum? Maxime nam
              quibusdam amet voluptates.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="d-flex">
          <div
            style="max-width: 300px"
            class="mx-auto d-flex flex-column align-items-center"
          >
            <div class="mb-15" style="height: 60px">
              <img class="h-100" src="img/box.webp" alt="   " />
            </div>
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
              sint veritatis enim aut reiciendis earum corrupti eum officia
              sequi cum, vero nesciunt ratione laudantium illum? Maxime nam
              quibusdam amet voluptates.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="d-flex">
          <div
            style="max-width: 300px"
            class="mx-auto d-flex flex-column align-items-center"
          >
            <div class="mb-15" style="height: 60px">
              <img class="h-100" src="img/box.webp" alt="   " />
            </div>
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
              sint veritatis enim aut reiciendis earum corrupti eum officia
              sequi cum, vero nesciunt ratione laudantium illum? Maxime nam
              quibusdam amet voluptates.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
