<footer class="footer">
  <div class="container-fluid layout-normalize py-50">
    <div class="row g-4">
      <div class="col-bl-five col-xxl-4 col-md-4 col-sm-6">
        <div class="d-flex flex-column align-items-center align-items-md-start">
          <a href="#" class="d-flex">
            <img class="" style="width: 200px" src="img/logo.svg" alt=""
          /></a>
          <div class="py-10 fs-special-size fs-5 d-flex gap-10">
            <a class="text-white" href="+7 (495) 000-00-00"
              >+7 (495) 000-00-00 </a
            ><a class="text-white" href="+7 (495) 000-00-00"
              >@@include('../page-blocks/_sprite.html', {'id': 'WhatsApp',
              'width': '20px', 'height': '20px'})</a
            >
          </div>
          <div class="py-5">
            <div class="d-flex gap-10 text-white">
              @@include('./_sprite.html', {'id': 'map-pin', 'width': '20px',
              'height': '20px'})
              <p class="mb-0">
                г.Москва,<br />
                ул. 15я Парковая, д.10, этаж 6,<br />
                офис 16
              </p>
            </div>
          </div>
          <div class="py-5">
            <div class="d-flex flex-wrap gap-5">
              <a href="#" class="d-block">
                @@include('./_sprite.html', {'id': 'yt', 'width': '32px',
                'height': '32px'})
              </a>
              <a href="#" class="d-block">
                @@include('./_sprite.html', {'id': 'vk', 'width': '32px',
                'height': '32px'})
              </a>
              <a href="#" class="d-block">
                @@include('./_sprite.html', {'id': 'tg', 'width': '32px',
                'height': '32px'})
              </a>
              <a href="#" class="d-block">
                @@include('./_sprite.html', {'id': 'irus', 'width': '32px',
                'height': '32px'})
              </a>
              <a href="#" class="d-block">
                @@include('./_sprite.html', {'id': 'ok', 'width': '32px',
                'height': '32px'})
              </a>
              <a href="#" class="d-block">
                @@include('./_sprite.html', {'id': 'wb', 'width': '32px',
                'height': '32px'})
              </a>
            </div>
          </div>
        </div>
        <a
          href="#"
          class="px-10 mt-20 wp-100 py-15 btn d-flex align-items-center justify-content-center gap-10 btn-primary"
          >@@include('./_sprite.html', {'id': 'file-text', 'width': '18px',
          'height': '23px'})<span class="text-uppercase">Получить кП</span>
        </a>
      </div>
      <div class="col-bl-five col-xxl-4 col-md-4 col-sm-6">
        <div>
          <p class="">Услуги и цены</p>
          <div class="fw-light fs-7">
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>

            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
          </div>
        </div>
      </div>
      <div class="col-bl-five col-xxl-4 col-md-4 col-sm-6 col-12">
        <div>
          <p class="">Услуги и цены</p>
          <div class="fw-light fs-7">
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>

            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
          </div>
        </div>
      </div>
      <div class="col-bl-five col-xxl-4 col-md-4 col-sm-6  col-12">
        <div>
          <p class="">Услуги и цены</p>
          <div class="fw-light fs-7">
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>

            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
          </div>
        </div>
      </div>
      <div class="col-bl-five col-xxl-4 col-md-4 col-sm-6">
        <div>
          <p class="">Услуги и цены</p>
          <div class="fw-light fs-7">
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>

            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
            <a href="#" class="d-block mb-10">SMM (продвижение в соцсетях)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-15 px-20 py-md-30 d-flex flex-column align-items-center" style="color: #C9C9C3; background: #2F3B42">
    <p class="mb-0">© 2022. Agelar. Все права защищены. Политика конфиденциальности</p>
    <p class="mb-0"    >ИП Бессонова О.Е. ИНН 770370050803 ОГРНИП 315774600171129</p>
  </div>
</footer>
