<div
  class="modal fade"
  id="modal-map"
  tabindex="-1"
  aria-labelledby="modal-map"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-primary py-30 px-20">
      <div
        type="button"
        class="btn-close text-white position-absolute"
        style="top: 15px; right: 15px"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></div>

      <div class="text-center text-white">
        <p class="fs-lg-special-size text-uppercase mb-20">Обратный звонок</p>
        <input
          type="text"
          class="form-control py-10 px-20 mb-10 btn-outline-primary"
          placeholder="Введите ваше имя"
        />
        <input
          type="text"
          class="form-control py-10 px-20 btn-outline-primary"
          placeholder="Введите ваш телефон"
        />
        <span class="text-muted fs-8">Заполните обязательные поля</span>
        <p >
            При нажатии на кнопку, Вы даете согласие на обработку Персональных данных.
        </p>
        <div class="mt-30 d-flex">
          <div class="btn btn-light wp-100">Перезвоните мне!</div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="modal fade"
  id="modal-call"
  tabindex="-1"
  aria-labelledby="modal-call"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-primary py-30 px-20">
      <div
        type="button"
        class="btn-close text-white position-absolute"
        style="top: 15px; right: 15px"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></div>

      <div class="text-center text-white">
        <p class="fs-lg-special-size text-uppercase mb-20">Обратный звонок</p>
        <input
          type="text"
          class="form-control py-10 px-20 mb-10"
          placeholder="Введите ваше имя"
        />
        <input
          type="text"
          class="form-control py-10 px-20 mb-10"
          placeholder="Введите ваш телефон"
        />
        <input
          type="text"
          class="form-control py-10 px-20 mb-10 "
          placeholder="Введите ваш телефон"
        />
        <textarea class="form-control py-10 px-20 " style="height: 100px;"
        placeholder="Введите ваш телефон"></textarea>
        
        <span class="text-muted fs-8">Заполните обязательные поля</span>
        <p class="fw-light">
            При нажатии на кнопку, Вы даете согласие на обработку Персональных данных.
        </p>
        <div class="mt-30 d-flex">
          <div class="btn btn-light wp-100 text-uppercase fs-5 py-15">Перезвоните мне!</div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="modal fade"
  id="modal-kp"
  tabindex="-1"
  aria-labelledby="modal-kp"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-primary py-30 px-20">
      <div
        type="button"
        class="btn-close text-white position-absolute"
        style="top: 15px; right: 15px"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></div>

      <div class="text-center text-white">
        <p class="fs-lg-special-size text-uppercase mb-20">Обратный звонок</p>
        <input
          type="text"
          class="form-control py-10 px-20 mb-10"
          placeholder="Введите ваше имя"
        />
        <input
          type="text"
          class="form-control py-10 px-20 mb-10"
          placeholder="Введите ваш телефон"
        />
        <input
          type="text"
          class="form-control py-10 px-20 mb-10 "
          placeholder="Введите ваш телефон"
        />
        <textarea class="form-control py-10 px-20 " style="height: 100px;"
        placeholder="Введите ваш телефон"></textarea>
        
        <span class="text-muted fs-8">Заполните обязательные поля</span>
        <p class="fw-light">
            При нажатии на кнопку, Вы даете согласие на обработку Персональных данных.
        </p>
        <div class="mt-30 d-flex">
          <div class="btn btn-light wp-100 text-uppercase fs-5 py-15">Перезвоните мне!</div>
        </div>
      </div>
    </div>
  </div>
</div>