<aside class="sidebar">
  <div data-simplebar id="sidebar-scroll" class="pt-40 h-100">
    <div
      class="sidebar-close d-block d-xxl-none p-10 position-absolute top-0 end-0"
      style="z-index: 100"
    >
      @@include('../page-blocks/_sprite.html', {'id': 'close', 'width': '17px',
      'height': '17px'})
    </div>
    <a href="#" class="d-flex mb-25 justify-content-center">
      <img width="160px" src="img/logo.svg" alt="" />
    </a>
    <div
      class="py-20 mx-15 fs-5 border-top border-bottom d-flex gap-10 justify-content-center align-items-center"
    >
      <a href="+7 (495) 000-00-00">+7 (495) 000-00-00 </a
      ><a href="+7 (495) 000-00-00"
        >@@include('../page-blocks/_sprite.html', {'id': 'WhatsApp', 'width':
        '20px', 'height': '20px'})</a
      >
    </div>
    <nav class="nav-sidebar">
      <ul class="fw-light">
        <li class="">
          <a href="#" class="nav-sidebar__link-container active open">
            <div class="nav-sidebar__text-icon">
              <img src="./img/box.png" width="30px" alt="" />
              <span>awdwaawd </span>
            </div>
            <div class="nav-sidebar__link-arrow">
              @@include('../page-blocks/_sprite.html', {'id': 'arrow-sidebar',
              'width': '7px', 'height': '13px'})
            </div>
          </a>
          <ul class="">
            <li>
              <a href="#" class="nav-sidebar__link-container">
                <div class="nav-sidebar__text-icon">
                  @@include('../page-blocks/_sprite.html', {'id': 'one',
                  'width': '25px', 'height': '25px'}) <span>awdwaawd </span>
                </div>
                <div class="nav-sidebar__link-arrow">
                  @@include('../page-blocks/_sprite.html', {'id':
                  'arrow-sidebar', 'width': '7px', 'height': '13px'})
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="nav-sidebar__link-container active">
                <div class="nav-sidebar__text-icon">
                  @@include('../page-blocks/_sprite.html', {'id': 'one',
                  'width': '25px', 'height': '25px'}) <span>awdwaawd </span>
                </div>
                <div class="nav-sidebar__link-arrow">
                  @@include('../page-blocks/_sprite.html', {'id':
                  'arrow-sidebar', 'width': '7px', 'height': '13px'})
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="py-20">
        <li><a href="#" class="py-10 px-20 d-block">Карта сайта</a></li>
        <li><a href="#" class="py-10 px-20 d-block">Карта сайта</a></li>
        <li><a href="#" class="py-10 px-20 d-block">Карта сайта</a></li>
        <li><a href="#" class="py-10 px-20 d-block">Карта сайта</a></li>
        <li><a href="#" class="py-10 px-20 d-block">Карта сайта</a></li>
        <li><a href="#" class="py-10 px-20 d-block">Карта сайта</a></li>
      </ul>
    </nav>
    <div class="border-top border-bottom py-20 mx-15">
      <a href="#" class="d-block mb-15">Пользовательское соглашение</a>
      <a href="#" class="d-block">Пользовательское соглашение</a>
    </div>
    <div class="py-20 mx-15">
      <div class="d-flex gap-10">
        @@include('./_sprite.html', {'id': 'map-pin', 'width': '20px', 'height':
        '20px'})
        <p class="mb-0">
          г.Москва,<br />
          ул. 15я Парковая, д.10, этаж 6,<br />
          офис 16
        </p>
      </div>
    </div>
    <div class="py-20 mx-15">
      <p class="text-center fw-light">2020. Все права защищены Agelar.ru</p>
    </div>
  </div>
</aside>
